[2014-01-31 12:40] mbernasocchi opened #1 "Buildscript and documentation"
Create reasonable buildscripts and documentation for what is working, how to compare XML-files, etc etc

[2014-01-31 12:40] #1 closed, assigned to svenstorp

[2014-01-31 12:41] mbernasocchi opened #2 "Create REST library for communication with movescount"
Investigate what built in functions in Qt that can be used.
At least the QJson... classes could be handy.
What about HTTPS?

[2014-01-31 12:41] #2 closed, assigned to svenstorp

[2014-01-31 12:41] mbernasocchi opened #3 "Check for new firmware versions at movescount"
And notify about new versions in the GUI.

[2014-01-31 12:42] #3 closed, assigned to svenstorp

[2014-01-31 12:42] mbernasocchi opened #4 "Add possibility to "Authorize" application in movescount"
Redirect user from GUI to browser!?

[2014-01-31 12:42] #4 closed, assigned to svenstorp

[2014-01-31 12:43] mbernasocchi opened #5 "Settings should contain email (login to movescount)"
Remove username/password setting!

[2014-01-31 12:43] #5 closed, assigned to svenstorp

[2014-01-31 12:43] mbernasocchi opened #6 "Read orbital positions from movescount"
Need to implement write down to clock in libambit as well
Add settings?

[2014-01-31 12:44] #6 closed, assigned to svenstorp

[2014-01-31 12:44] mbernasocchi opened #7 "Upload logs to movescount"

[2014-01-31 12:44] #7 closed, assigned to svenstorp

[2014-01-31 12:44] mbernasocchi opened #8 "Sync time from computer to device"

[2014-01-31 12:44] #8 closed, assigned to svenstorp

[2014-01-31 12:45] mbernasocchi opened #9 "libambit should include unknown samples in log read"
If openambit can save all unknown entries to the XML-files as well it will be easier to find new features since the users could get by with only submitting XML-files from openambit and moveslink.

[2014-01-31 12:46] #9 closed, assigned to svenstorp

[2014-01-31 12:47] mbernasocchi opened #10 "last build warning: ‘register_error’ defined but not used"
building from source I get this only warning:

[code]

I saw you pushed a warning fix commit so I guessed you care :)

[2014-01-31 12:47] #10 closed, assigned to svenstorp

[2014-01-31 12:47] mbernasocchi opened #11 "add disclaimer text"
Text like:
This is early beta software.
Might upload invalid logs to movescount that cannot be overwritten
etc
etc

[2014-01-31 12:48] #11 closed, assigned to mbernasocchi

[2014-01-31 12:49] mbernasocchi opened #12 "Store movescount move id"
Received in reply when uploading move to movescount. Should be stored with data in the xml-file.

[2014-01-31 12:49] #12 closed, assigned to svenstorp

[2014-01-31 12:50] mbernasocchi opened #13 "Upload old logs to movescount when authorized"
When authentication is completed, make sure to upload moves synced earlier.
It should be possible to read out "last synced move" from movescount.

[2014-01-31 12:50] #13 closed, assigned to svenstorp

[2014-01-31 12:52] mbernasocchi opened #14 "Investigate functionality with swiming modes"
I have not been able to test the swiming-modes at all. Are the log entries parsed out correctly, how about the JSON and XML data? etc etc

[2014-01-31 12:53] mbernasocchi opened #15 "Investigate functionality with cadence logs"
Does most probably NOT work! The log format in device needs to be investigated as well as XML and JSON format.

[2014-01-31 12:53] mbernasocchi opened #16 "Investigate functionality in multisport mode"
Just not tested, might work already

[2014-01-31 12:54] mbernasocchi opened #17 "Create openambit icon"
The default X-icon is not cool at all...

[2014-01-31 12:54] mbernasocchi opened #18 "Create a "minimized"/"docked" mode"
It should be possible to "minimze" the application to the system tray to let it run in the background.
It should "listen" for new devices and automatically (user option) sync new logs. When finished it should notify the user about the sync completion.
A dynamic icon in the system tray could be nice, like grey = no device connected, colored = device connected, flashing/moving = syncing

[2014-01-31 12:54] #18 closed, assigned to svenstorp

[2014-01-31 12:55] mbernasocchi opened #19 "Log list should be redesigned"
Ideas are welcome! Should we use a calendar? A list with more information (like duration, distance, etc)?

[2014-01-31 12:56] mbernasocchi opened #20 "Add possibility to export log as GPX"
With some custom options like:
Set laps as waypoints
???

Related to #25

[2014-01-31 12:57] mbernasocchi opened #21 "Sync sport modes"
**HELPING OUT:**
From Windows and moveslink sync a bunch of different sportmodes.
- Start PCAP dump (howto: http://openambit.org/wireshark-dissector)
- Create a bunch of different custom sport modes on movescount.com
- Initiate sync in Moveslink
- Stop PCAP dump
- Send PCAP dump and detailed info about the sport modes to emil at openambit.org

[2014-01-31 12:57] mbernasocchi opened #22 "Sync personal settings"
**HELPING OUT:**
From Windows and moveslink sync of each different setting on movescount.com (Settings / Profile, Settings / Body metrics, Gear / [your unit] / Unit Settings). Do something like (yeah, I know it is a pain!):
- Start PCAP dump (howto: http://openambit.org/wireshark-dissector)
- Make a single change on movescount.com (for example your weight)
- Note what change you made
- Initiate sy

[2014-01-31 12:57] mbernasocchi opened #23 "Sync POIs and routes"

[2014-01-31 12:58] mbernasocchi opened #24 "Sync apps"

[2014-01-31 12:58] mbernasocchi opened #25 "Plugin framework"
Create a plugin framework to enable upload to several different online services (or offline, for example GPX export).
Make the current movescount sync functionality the first plugin.

[2014-01-31 12:59] mbernasocchi opened #26 "better reaction on /dev/hidraw read errors"
From https://sourceforge.net/u/muellerto/:
On my Arch Linux the device /dev/hidraw1 is not usable as intended. I debugged this. The device is owned by root and only root can read and write it. (I'm working to solve this, it's a silly udev problem.)
What I suggest to do here is a much better reaction on this problem. Version 0.1 said only "Failed to open device" not telling the user any further inf

[2014-02-25 17:30] mbernasocchi opened #27 "Openambit crashing during attempted sync"
Openambit crashing when attempting to sync. NB: The runs/Moves had already been downloaded from the Ambit during a previous sync i.e. they were listed in the pane on the left hand side.
The output in the terminal is included below.

[code]

[2014-02-25 17:37] mbernasocchi opened #28 "Differences in swim logs"
From Owen Delaney:
Hi. I've diff'd a .log file generated by openambit and an .xml file generated by the moveslink windows app, and there's a fair amount of differences. For some reason, openambit isn't generating .xml files as well, just the .log files. the .openambit/movescount folder didn't previously exist, so I created it, but only .log files appear there when I sync, no .xml files.
The activi

[2014-02-25 17:38] mbernasocchi opened #29 "Comparing with device already set, instead of loop entry"
Comparing with device already set, instead of loop entry

[2014-02-25 17:38] #29 closed, assigned to svenstorp

[2014-02-25 17:40] mbernasocchi opened #30 "threading problems"
From T.M:

I oftenly have threading issues like these:

[code]

Don't know if anyone else has this. I get such lines again and again while starting the program or sychronizing. In a normal 5min session I have ten or twelve of them.
Arch Linux x64, gcc 4.8.2, qt 4.8.5

[2014-02-25 17:41] mbernasocchi opened #31 "upload problem (temp range)"
From chrismaster
I get :

[code]

when i want to upload
latest git / ambit 2s

[2014-03-19 05:48] jonathanbell opened #32 "Hard (impossible?) to Install on Ubuntu 12.04"
Thought that I was getting really close to running open ambit on Ubuntu 12.04. Now it looks like all I need is QJSON 0.8.0:

jonathan@Jimmy:~/openambit$ sudo ./install.sh
------building libambit------
-- Configuring done
-- Generating done
-- Build files have been written to: /home/jonathan/openambit/libambit-build
[100%] Built target ambit
./build.sh: 13: [: 1: unexpected operator
------building

[2014-03-19 10:37] mbernasocchi opened #33 "ppa packages dont work on mint"
@svenstorp can you see with @battila about the packaging?

[2014-03-25 11:08] mariusor opened #34 "SHA and or MD5 sums for the prepackages downloads"
Is it possible to have digest sums for the tar.gz and zip download files?

It would help with packaging them.

[2014-03-25 11:08] mariusor opened #35 "Which licence is openambit under?"
For easy packaging it would help to establish a licence for the project.

[2014-03-25 18:02] funderella opened #36 "Lap detail (running)"
As discussed on forum (http://openambit.org/forums/topic/lap-detail-running/), when I post a move via Moveslink I get Autolap detail.  I do not get AutoLap detail via OpenAmbit.

Files at the gist below show (1. openambit log, 2. movescount XML).  Clearly there is a difference but these files are NOT equivalent - it is not obvious if they should be as I dont see any reference to an XSD.. anyway, h

[2014-03-29 13:24] mariusor opened #37 "Qt5 OpenAmbit client"
Hi, I have created a branch[1] for the OpenAmbit client to compile under Qt5.

I would like to know if there is any interest in this, and if you guys would consider a merge, which way should we do it - parallel builds for Qt4 and Qt5 or moving just to Qt5.

Thank you.

[1] https://github.com/habarnam/openambit/tree/Qt5_Client

[2014-04-20 20:58] benedetto opened #38 "Logged app data is not synced"
Some apps that I have installed on my watch offer the possibility to log their values to allow to analyze them later in movescount, for example the storm warning app.

At the moment it looks like those values logged by apps are not transferred to movescount when syncing via openambit. I cannot provide a sync log from moveslink now, but I will try to record one the next time I sync with moveslink.

[2014-04-21 20:37] #31 closed, assigned to svenstorp

[2014-04-21 20:53] svenstorp opened #39 "Add support for Ambit 2 R"
New hardware version in the Ambit 2 series...

[2014-05-03 18:11] bubulle opened #40 "Non official category in .desktop file"
While building the Debian package, I found out that the .desktop file provided in the 0.2 release uses a Category that isn't registered at freedesktop.org : http://standards.freedesktop.org/menu-spec/1.0/apa.html

My suggestion would be using "Education;Sports" as Category.

Thanks for your work on OpenAmbit.

[2014-05-05 08:52] #40 closed, assigned to mbernasocchi

[2014-05-15 00:42] dwsmith1983 opened #41 "Opent ambit not remembering email address to sync"
I am on Ubuntu 14.04, have the original Suunto ambit, and I am using the most recent build.  Openambit doesn't remember that I check I really want to use openambit and it doesn't remember my email address for syncing.  I have to enter the preferences every time to sync.

[2014-05-20 19:47] pgastinger opened #42 "Openambit stopped working with Suunto Firmware 2.0.9"
Hi,

I have been using Openambit for the last couple of weeks and it basically worked. I updated my Suunto Ambit 2S-Firmware to 2.0.9 yesterday and since then, my watch says "Please update Moveslink".
I tried to delete my .openambit-directory but it didn't help. My guess is that Suunto changed something or implemented further checking.
Is there any fix for that? Thank you!

best regards,
Peter

[2014-05-25 15:10] BenjaminHerbert opened #43 "Setting 'Sync logs with Movescount' is not saved"
Whenever I start openambit, the _Sync logs with Movescount_ settings are gone/empty. It seems that this setting is not persisted.

This means I have to enter the email address again for syncing and confirm a new Moveslink application on movescount.com.

I would expect that the setting is saved and that I do not have to confirm a new connection on movescount.com each time I use the software.

[2014-05-27 07:15] #43 closed, assigned to nobody

[2014-05-27 15:56] #41 closed, assigned to nobody

[2014-05-27 20:39] #42 closed, assigned to nobody

[2014-05-29 14:10] #35 closed, assigned to svenstorp

[2014-05-29 15:54] punknroll opened #44 "Watch shows error message"
Hi, when i try to sync the ambit 2 the watch says "Update your moveslink". I installed the lastest firmware a few days ago on my watch. Can i run the app in debug mode to provide some more useful information?

Greetz Andi

[2014-05-29 15:58] #44 closed, assigned to nobody

[2014-06-04 18:50] skinnie opened #47 "How do I remove openambit?"
Hi, sorry to ask so basic question, I installed openambit "manually", I wanted to remove it in order to use the versions from AUR, how do I do it?
Or I just need to install the version from AUR?

[2014-06-05 09:37] #47 closed, assigned to nobody

[2014-07-01 12:26] Ramel opened #48 "Watch connected to a Usb Adapter not recognized"
Hi,

I have a Gta04 [1] running Lxde Wheezy, and I can connect to it an Usb Adapter [2] to plug the Sunnto Usb cable.
Openambit run well, except the refresh icon that is not visible, but the button exist.
Then it does not recognize the watch.
What can I do to test more deeply the connexion? And make it run!

Here is the lsusb command result as a start:

root@gta04:~# lsusb -t
/:  Bus 02.Port 1: De

[2014-07-18 05:52] bubulle opened #49 "UTF-8 display problems for activities"
Some of my activities have non ASCII characters in the activity type name, such as "Trail entraîn." or "Route entraîn.". The activity name was defined as is on Movescount.

However, OpenAmbit displays such activities as "Trail entraÃ®n.", namely a UTF-8 conversion problem.

[2014-08-09 21:57] alessiomangoni13 opened #51 "Sync fails during orbital data get"
Installed openambit by adding the repo: "sudo apt-add-repository ppa:openambit/ppa"
updating & upgrading : "sudo apt-get update && sudo apt-get upgrade"
and using apt-get: "sudo apt-get install openambit"
Sync fails during the orbital data getting.
Ran from terminal it shows some errors in qt-threads:
"QObject: Cannot create children for a parent that is in a different thread.
(Parent is QNetworkA

[2014-08-11 21:46] AndyNortrup opened #52 ""QLocalSocket::connectToServer: Connection refused""
I receive the following error when attempting to run openambit from the terminal I receive the following error: "QLocalSocket::connectToServer: Connection refused"

I'm using the current sources from on the master branch of git hub (as of 11 Aug 2014).

I'm running Arch Linux and connecting an Ambit2
Device: Suunto Ambit2, serial: EB83095113001400, FW version: 2.0.9

Let me know if there is anythi

[2014-08-11 21:50] #52 closed, assigned to nobody

[2014-08-21 15:06] ricco386 opened #53 "workouts doesnt sync to movescount"
recorded workouts (ambit 2R) doesnt sync to movescount.

Messages in log:
Failed to upload log, movescount.com replied with " ""Invalid MinTemp: valid range is [-100, 100] Celcius"" "

[2014-09-05 12:50] #39 closed, assigned to svenstorp

[2014-09-05 18:13] svenstorp opened #54 "Add support for Ambit 3"
- Add device ID to libambit, and udev rules
- Investigate communication protocol

[2014-09-06 08:17] josesj opened #55 "Open water swimming log don't sync"
Using an Ambit 2S the open water swimming logs don't sync with Movescount.

[2014-09-07 18:59] #53 closed, assigned to nobody

[2014-09-08 07:43] punknroll opened #56 "Can't sync to movescount MaxTemp >= MinTemp"
New logs are not synced with movescount anymore. The error says:

Failed to upload log, movescount.com replied with " ""MaxTemp must be greater than or equal to MinTemp"" "

Here is the log file:
https://www.dropbox.com/s/xbj7888arbnql17/log_68A5095124001100_2014_08_25_19_14_04.log?dl=0

[2014-09-08 10:57] mariusor opened #57 "New release tag?"
I think that 0.2 is quite old in respect with git:master and a 0.3 version would bring the latest changes related to the adding of Ambit3 and the new firmware version for Ambit2.

What do you guys think? Could we have a 0.3 version released?

[2014-09-08 21:41] #36 closed, assigned to svenstorp

[2014-09-08 21:41] #49 closed, assigned to svenstorp

[2014-09-09 05:56] #56 closed, assigned to svenstorp

[2014-09-09 06:07] #51 closed, assigned to nobody

[2014-09-09 11:40] #57 closed, assigned to nobody

[2014-09-09 11:57] #48 closed, assigned to nobody

[2014-09-09 12:14] #33 closed, assigned to battila

[2014-09-09 12:17] #17 closed, assigned to nobody

[2014-09-09 17:12] uvwxy opened #58 "Separation of Packet Logic from HID Device access"
Would it be possible to separate the packet logic from the transfer?

I started the [android-ambit](https://github.com/uvwxy/android-ambit) repo a while ago. Access to HID device is done. Now I would like to use the existing code base to read/write to the device.

As the de/serializing of packets into the structs is mixed with writing them to a device (the same memory is used), I could not directl

[2014-09-12 19:08] #30 closed, assigned to nobody

[2014-09-18 12:31] paddy-hack opened #60 "Killing window does not exit openambit"
To reproduce start `openambit` with `./run.sh` and click the window's `x` icon (assuming the window manager shows one).  No need to connect your clock.  The `./run.sh` job will happily continue.  You need to `Ctrl-C` to get the command prompt back.

Looks like there is at least one window manager event that isn't handled.

FWIW, I'm running an Xfce4 desktop.

[2014-09-21 10:51] #32 closed, assigned to nobody

[2014-09-21 11:14] svenstorp opened #61 "Add signal handling (graceful termination on SIGINT etc)"

[2014-09-21 11:18] svenstorp opened #62 "Add user options for the "docking" functionality"
- Enable/Disable docking functionality (given that the window manager support a systray)
- Enable/Disable "x close to systray"

Add notification dialog: "Openambit is still running, but has been minimized to the systray" with an "Do not show this message again" option.

[2014-09-21 11:21] #34 closed, assigned to nobody

[2014-09-21 15:10] bubulle opened #63 "Implement i18n in OpenAmbit"
An interesting feature would be implementing internationalization so that the program dialogs, menus, messages, etc. can be localized to various languages.

Being a C++ app, I suspect this is mostly about using gettext features for this but even though I'm involved in FLOSS localization for years, I don't have much clues about The Right Way to do it, not being skilled in programming, myself.

[2014-10-02 06:29] #27 closed, assigned to nobody

[2014-10-07 20:44] LanglaisMickael opened #66 "log don't srynchronise to movescount"
Hello,

I am trying to upload my logs using openambit.
I have the following error in the console : Failed to upload log, movescount.com replied with " ""Device creation not allowed. Suunto devices must be created by POSTing a new UserDevice."" "
After configuring my email adress linked to my movescount, a link in the gui openambit appears to connect to the movescount.com and validate the authoriza

[2014-10-19 19:28] benedetto opened #68 "Where to put .pcap's of different settings made?"
As requested by @svenstorp in [this comment](https://github.com/openambitproject/openambit/issues/54#issuecomment-57514957) on #54 , I hav recorded some movescount syncs of single profile changes I made, together with notes which changes were made. The question is just: where should I put them? I also cannot analyze them myself as the wireshark dissector does not compile on my system here (Ubuntu

[2014-10-21 19:10] #68 closed, assigned to nobody

[2014-10-22 11:24] #26 closed, assigned to paddy-hack

[2014-10-24 20:11] risbac opened #69 "Wrong info in the log"
Compiled today, on Ubuntu 14.10.

The log is not complete, as you can see below

"<SerialNumber>s</SerialNumber>
    <Time>2014-09-20T15:11:37</Time>
    <MovescountId></MovescountId>
    <DeviceInfo>
        <Serial>s</Serial>
        <Model>ifierItem</Model>
        <Name>tem/1</Name>
        <FWVersion>0.0.0</FWVersion>
        <HWVersion>0.8.26369</HWVersion>
    </DeviceInfo>"

It was working

[2014-10-25 12:17] svenstorp opened #70 "Investigate character encoding in Ambit devices"
The character encoding of the freetext strings in the devices needs to be investigated, today ISO-8859-1 is assumed, but is not necessarily correct. Evaluation is required for both Ambit/Ambit2 and Ambit3. Issue related to #63.

**HELPING OUT:**
  - Start PCAP dump (howto: http://openambit.org/wireshark-dissector)
  - Create new Sport mode with lots of nasty special characters on movescount.com

[2014-10-26 17:38] bwaldvogel opened #72 "Ambit2 not found unless compiled with hid-libusb.c instead of hid.c"
Device: Suunto Ambit2
Model: Duck
F/W version: 2.0.9
Linux: Gentoo
Tested openambit versions: `master` (383fff4) and `0.3` (a391e12).

My Ambit2 is not found by libambit. There is no warning, no error… nothing.

Out of brevity I replaced `hid.c` by `hid-libusb.c` in `src/libambit/CMakeLists.txt` which solves the issue and my watch is found!

[2014-10-26 18:41] #69 closed, assigned to nobody

[2014-10-26 18:48] #60 closed, assigned to battila

[2014-10-26 18:53] svenstorp opened #73 "Add support for registering new device to movescount.com"

[2014-10-26 18:55] #66 closed, assigned to nobody

[2014-10-26 21:17] bubulle opened #74 "Display error for activities over 24 hours"
![tds-display-error](https://cloud.githubusercontent.com/assets/4094355/4784456/24e49ca8-5d55-11e4-85a3-025828c07d4b.png)

It seems that OpenAmbit wrongly displays the summary of activities whose duration is over 24 hours. The above activity lasted for 28h29'28" but the display says 04h29'28"

I can of course send the relevant logfile

[2014-10-27 17:59] #72 closed, assigned to nobody

[2014-11-02 21:12] gelim opened #75 "Add functionality for resyncing moves deleted on movescount.com"
Hi,

I've synced some runs from to movescount, then I deleted by hand some runs in the web interface.
If I try to manually resync those moves from the app ("write to movescount file") I got the following console error :

[code]

If I list the moves from their REST API I got 0 moves.

[code]

I'm not sure if the problem is from their REST API, or the app not doing the proper things.
Cheers,

[2014-11-07 18:54] #74 closed, assigned to svenstorp

[2014-11-08 12:15] svenstorp opened #76 "Should the log store format change?"
Today all synced moves are stored as XML-files in ~/.openambit. Those XML-files are pretty space consuming, typically > 2 MB / hour of exercise. XML was chosen since it is easy to read, and compare to Moveslink.
Possible options:
- Compressing the XML
- Leightweight database (for example SQLite)
- ???

[2014-11-08 12:40] #61 closed, assigned to nobody

[2014-11-08 12:49] #62 closed, assigned to nobody

[2014-11-09 13:15] paddy-hack opened #77 "Use libambit header file(s) from the working copy"
Several people have experienced trouble building from source after they have installed Openambit.  This was caused by `cmake` picking up the installed header files.  As I mentioned in #59, until the `libambit` and `openambit` source trees are made independent (and we make promises about the `libambit` API and ABI), `cmake` should prefer the header files from the working copy.

BTW, pull request #7

[2014-11-09 19:40] #77 closed, assigned to svenstorp

[2014-11-19 12:44] paddy-hack opened #78 "`./build.sh` clobbers binary package install locations"
The `./build.sh` scripts defaults to an installation path in `/usr` rather than `/usr/local`.  The `/usr` location is the domain of distributor's binary packages.  The Debian and Ubuntu packages install there for example.  If one were to run `./install.sh`, that would overwrite the binary package contents.  I think it would be better to stick to an established installation path of `/usr/local` by

[2014-11-26 19:27] mmihalko opened #79 "Add cmake qt 4.x (+dev) and zlib to list of dependencies. Update build instructions"
Some dependencies are missing in the readme. Also build instructions seems to me bit outdated, when you provide nice build script.

[2014-11-29 13:05] paddy-hack opened #80 "move udev rules to libambit"
As `libambit` is responsible of communicating with the clocks, their operating side setup details should go with the library, not any ole application that uses the library ;-)

Let's say there is a command-line `ambit` application as well.  Who should provide the udev rules?  `openambit` or `ambit`?

The answer is: neither.  The library that both use to communicate with the clocks should.

[2014-11-29 13:12] paddy-hack opened #81 "Add udev hwdb support"
A sometimes annoyingly fast-moving target, `udev` has added support for `*.hwdb` files.  The benefit of using such files (apart from the speed improvents that the `udev` folks tout) is that it allows the separation of detection logic from device access policies.

Our current `udev` rules files combine the two: if an Ambit clock is found, its access policies are set.  With a hwdb file, we can just

[2014-11-29 13:21] paddy-hack opened #82 "Should we drop debian packaging support?"
Seeing that @bubulle has picked up the Debian packaging (with these packages downstreaming to Ubuntu as well), I wonder if we should keep maintaining our own.  If not, we can drop the `src/libambit/debian/` and `src/openambit/debian/` directories.

I went through the content of both directories and both looked like rather plain vanilla packaging.  If user needs are not met by their distribution's

[2014-11-29 13:31] paddy-hack opened #83 "Promote the GUI Movescount support to a separate library"
Talking to Suunto's Movescount isn't just the prerogative of the `openambit` GUI.  There's more applications that might want to do so.  To that end, it would be beneficial to move `src/openambit/movescount/` to `src/libmovescount/`.

This would not really change much for the current code base but opens the way for other applications (eh, yes, I'm tinkering with the beginnings of a command-line uti

[2014-11-29 13:40] paddy-hack opened #84 "Remove Qt dependencies from libmovescount"
Once #83 is done, it would be nice to remove the dependency on Qt for `libmovescount`.  I have no idea what kind of work will be needed for this but I'd like to see `libmovescount` implemented in such a way that it only relies on C/C++, a _common_ JSON library, a _common_ XML library and a _common_ networking library.  Where _common_ implies it does not depend on any specific GUI toolkit.  If any

[2014-12-03 11:46] #78 closed, assigned to paddy-hack

[2014-12-03 11:46] #80 closed, assigned to paddy-hack

[2014-12-30 17:13] villeambit opened #87 "Failed to upload log, movescount.com replied with " "" ""
when connecting the device via USB, openambit will not sync with movescount

In the terminal the following message occurs:

Failed to upload log, movescount.com replied with " "" "

This is in openambit 0.3-1 for Debian, running on Ubuntu 14.04 LTS for AMD64

$ apt-cache policy openambit
openambit:
  Asennettu: 0.3-1
  Ehdokas:   0.3-1

$ uname -a
Linux ville 3.13.0-32-generic #57-Ubuntu SMP Tue J

[2015-01-01 22:52] benedetto opened #88 "Uploading new logs takes very long"
For some time now (a month or so) if I sync new moves from my watch, even after about 10 minutes after the sync from the watch was finished successfully, the logs are still not on movescount. If I exit openambit and start it again, it takes another minute or two until the logs get uploaded to the movescount server and the "see move on movescount" link appears.

I'm not sure if this was introduced

[2015-01-03 00:15] #88 closed

[2015-01-03 08:58] svenstorp commented on #84
Personally I'm not sure it is worth the pain.
Qt is not *that* uncommon and it is not only a GUI toolkit! Qt is separated into several libs where only a few of them are GUI-related. For libmovescount we would only be dependent on QtCore and QtNetwork, in Qt5 Json support is even built in.

[2015-01-03 09:08] svenstorp commented on #82
Totally agree!

[2015-01-03 09:13] #82 closed

[2015-01-03 09:18] svenstorp commented on #28
@battlegarden Unfortunately there is no upload function for binary files on github. You can email them to me instead, emil at openambit dot org
Thanks!

[2015-01-03 09:34] svenstorp commented on #55
@strawpants Please email them to emil at openambit dot org
Thanks!

[2015-01-03 20:36] strawpants commented on #55
They are on their way

[2015-01-06 17:07] strawpants commented on #55
My swim logs sync fine to movescount now, but this holds for an indoor swimming log, don't know about openwater swimming.

[2015-01-09 15:06] paddy-hack commented on #88
Sorry about that.  I should have paid closer attention to the exact types before using `memcpy()`.

Using `uint8_t` in `src/openambit/deviceinfo.h` should have fixed the problem as well.  No?

[2015-01-12 12:41] svenstorp commented on #88
No worries!

Yeah, changing to uint8_t would have fixed the problem as well. I just figure, since we convert the data to an internal object, we could just as well make the "parsing" of the bytes there instead of every time we use the data.

[2015-01-14 22:35] metbosch commented on #87
It looks like now moveslink is asking for username and password directly on the app. Instead of ask email amb later open the browser to allow the connection.

![untitled](https://cloud.githubusercontent.com/assets/4162025/5749059/7c98f99c-9c45-11e4-8203-6550e209ac20.png)

[2015-01-31 21:31] PowerTap opened #92 "Spec for .log files"
Is there a written spec for the .log files stored in ~/.openambit?  I'm looking to do some processing with them locally.

[2015-02-07 23:49] paddy-hack commented on #92
I don't think there is one.  From what I understand, the `.log` files in `~/.openambit` were written to follow the XML files from Moveslink2 as closely as possible.  There is even a `movescountXmldiff.pl` utility to compare them.
Just out of curiosity, what kind of processing are you thinking of?

[2015-02-08 04:42] PowerTap commented on #92
I was looking to chart my data in ways that MovesCount doesn't seem to support.

[2015-02-08 04:42] #92 closed

[2015-02-14 11:17] mbanas opened #93 "Failed to convert log to gpx, AttributeError: 'int' object has no attribute 'split' in utcSplitConvSeconds function"
Hi,
I'm having issues converting some of my log files to gpx. Could you please check why it's not working? I was trying to debug the issue, but I really don't know what happens with lapArray[] here..

Here're two log files:
bad.log - logfile showing the error
good.log - logfile with no error

https://www.dropbox.com/sh/3petzerbc87nl49/AAAurJOvsuUXHVuuyS99xnhHa?dl=0

Thanks for support! Let me know

[2015-02-16 11:57] paddy-hack commented on #93
I ran both logs through `python tools/openambit2gpx.py`.  The `good.log` completed without any problem.  The `bad.log` produces
[code]
Looking at the content of the `lapArray[i]` that triggers this
[code]
shows that `t2`, the last element of `lapArray[i]`, is indeed an `int`, hence the `AttributeError`.  Why this is is an `int` is another issue for which I have no answer.

FWIW, the `good.log` nev

[2015-02-16 20:24] marguslt commented on #93
Something  with handling manual laps,  none of those in `good.log`
Before exception is thrown, your GPX is actually finished. So If you just want to use you track and do not care about gpx lap extensions, you can manually open output file and change last line from
`<extensions>` to `</gpx>` . Or remove lap extension code for now.

[2015-03-09 17:34] VTiTux opened #94 "build.sh crash"
I downloaded openambit 0.3 and run build.sh, then this error:

-----building libambit------
-- The C compiler identification is GNU 4.8.2
-- The CXX compiler identification is GNU 4.8.2
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working CXX compiler: /usr/bi

[2015-03-09 19:13] VTiTux commented on #94
Maybe a conflict with openambit 0.2.
I build an install libambit 0.3 separately, then rebuild the whole, and now it's OK

[2015-03-09 19:13] #94 closed

[2015-03-09 19:15] VTiTux commented on #87
I have the same problem. Is there a solution?

[2015-03-10 12:01] metbosch commented on #87
Unlinking openambit from movescount and re-configuring the program as a new installation worked for me.

[2015-03-11 00:28] VTiTux commented on #87
1) Into movescount -> parameters -> connexions, I had 8 "moveslink2 "items. For all, I clicked to "ignored", but I can't completely remove them.
2) I removed the .openambit directory
3) I ran openambit and re-set my email into settings->movescount.
4) I clicked " Sync now", but the syncronisation failed, with this message into terminal: Failed to upload log, movescount.com replied with " "" "

I h

[2015-03-31 16:03] ang-st opened #95 "raspberry pi : *** glibc detected *** ./ambitconsole: corrupted double-linked list: 0x002ce400 ***"
Hello,
i try to run openambit on raspberry pi but it actually  crashes
[code]
i recompiled with -O0 and -ggdb flags and it appear to crash at some point while calling hid_read

[code]
here is the backtrace generated by the coredump

[code]
I would be glad to help you to fix this issue, as i intend to use libambit on a kind of funny project.
Thanks in advance

[2015-04-05 03:14] paddy-hack commented on #95
Please note that Ambit3 support (#54) is still a work in progress.

I was not able to reproduce this with my Suunto Ambit on an `amd64` Debian `jessie` machine with 921fce1.  What version of the code are you using?  Would you be able to test on `amd64` or `i386` so we can rule out architecture issues?  Which of the `hidapi` implementations are you using?  From the information above, I would guess

[2015-04-05 10:53] ang-st commented on #95
right it seems to be arch dependent, it run fine on `x86`, i only had the issue on `arm`.

I will investigate further in the next week as soon as i get the watch back.  Thanks for pointing me that there are two implementations of hid available. I will try both. The problem occured on the latest version, I didn't try to go backward in revesion but I suspect it won't help.
Thanks for your time

[2015-04-05 21:16] benedetto commented on #88
@paddy-hack @svenstorp For me the commit that was referenced with the closing of this issue doesn't fix the problem. I also tried to change the ``int``s to ``uint8_t`` without success. Any ideas?

[2015-04-12 16:40] ang-st commented on #95
Hello,
i found where the bug was located, a simple missing parenthesis resulting a wrong memory allocation at ```libambit_sbem0102_command_request```

the original code only alloc ```data_objects->size``` thu the subsequent memcpy write out of bound and corrupt the heap.
[code]
this way it evaluate the ternary operator and then  sum it to ```sizeof(special_header) ```
[code]
then the code run fine

[2015-04-13 11:08] paddy-hack commented on #95
Thanks!

You missed two other `malloc()` statements in the same file that had the same problem but that's no problem.  I'll be pushing a fix in a jiffy.

As to your side note, writing beyond allocated memory bounds results in undefined behaviour.  The crashing you observed on `arm` in one kind of undefined behaviour, everything going fine on `x86` is another kind of undefined behaviour :sweat_smil

[2015-04-13 11:10] #95 closed

[2015-04-19 09:29] aicastell opened #96 "Failed to upload log, movescount.com replied with " ""For given appkey+userkey no safe userkey were found"" ""
When I try to "Write movescount file" on a route (right button), I get this message on the terminal:

Failed to upload log, movescount.com replied with " ""For given appkey+userkey no safe userkey were found"" "

And the route is not uploaded to my movescount account.

Is this functionality implemented?

[2015-04-19 11:48] marguslt commented on #96
Apparently settings are not checked when triggering Movescount write.
In Openambit, select *File -> Settings -> Movescount*, enable *Sync logs with Movescount* and enter e-mail used for Movescount. Next time you open movescount.com you should see pop-up that is requesting premissions for Moveslink, if not, head directly to http://www.movescount.com/settings#connections andAllow Moveslink from ther

[2015-04-22 13:14] paddy-hack commented on #79
A bit late (me and the project admins were hibernating :wink:) but I pushed a new README.  If there's anything you think needs fixing, clarification on adding, feel free to reopen this issue or open a new one.

[2015-04-22 13:14] #79 closed

[2015-04-25 13:48] aicastell commented on #96
Done!

Done!

Now when I try to upload a route, openambits shows this message on the console, in an infinite loop:

Failed to upload log, movescount.com replied with " ""Device creation not allowed. Suunto devices must be created by POSTing a new UserDevice."" "

I don't have any device added on my Movescount account. I can't add it, because movescount web page doesn't allow me to create a new Sun

[2015-04-25 15:00] marguslt commented on #96
It's a known issue, check  #73
Not sure what's the status with natanojl/openambit@653b7af72a215b6d517e763dc919e28392f05783

Depending on your views to anything-windows, available HW and bandwidth, one possibility might be installing a VirtualBox, get Windows image from https://www.modern.ie/en-us/virtualization-tools#downloads and do a one time install of Moveslink just to add your watch to Movesc

[2015-05-04 11:52] paddy-hack commented on #83
I have noticed the fork by @superdupersvard that does pretty much the same.

My changes work for all build scenarios (using `./build.sh` or in-tree and out-of-tree `cmake`).  The only thing that "broke" are the two translations in `logstore.cpp`, both of which are only used in rather exceptional situations.  I am leaving these string as is for the moment.  If this is a problem, it can be filed as

[2015-05-04 11:52] #83 closed

[2015-05-04 22:53] paddy-hack commented on #70
As part of another issue :wink:

[2015-05-04 22:53] #70 closed

[2015-05-05 04:21] paddy-hack commented on #63
So we agreed on UTF-8 for `libambit` and all strings coming in are properly converted.  We have translations for the GUI in several languages and I even added the (horrible?) Dutch (in 4e6f6a6) and Japanese (in 2f0c84a) message catalogs that I mentioned earlier.  I'd say this can be closed.

[2015-05-05 04:21] #63 closed

[2015-05-05 05:13] paddy-hack commented on #73
I gave @natanojl's proof of concept a spin but got
[code]
at first try.  That was until I changed my settings to enable Movescount (`movescountEnable=true` in `~/.openambit/openambit.conf` or check `Sync logs with Movescount` in the GUI) and set my email address.  After that, registering the device worked fine for me (apart from the fact that I did not really intend to upload all my moves at the s

[2015-05-05 12:09] paddy-hack commented on #73
I have what I think is a fix for my concern but am, as of writing, unable to test it.  I've removed my device via the web interface but keep getting
[code]
Thinking it was the moves that were still registered, I deleted them *all* via the web interface (68 moves, what a PITA!).  That didn't seem to help.  I still get the same error message.  Trying to "Write Movescount file" for a move that was re

[2015-05-05 12:12] paddy-hack commented on #96
I've been looking into #73 and natanojl/openambit@653b7af does seem to work with a few caveats.  Please see #73 for my comments.

[2015-05-05 12:28] paddy-hack commented on #73
Hmm, just noticed #75 :angry:.  If Movescount hangs onto *my* data after *I* delete it, that's one more reason (for me) not to sync with it.  BTW, this behaviour seems to contradict Movescount.com's [Terms of use](http://www.movescount.com/termsofuse) (although I have no idea of course what exactly they are hanging onto)
[code]
Anyway, I'll be having another go at this tomorrow.

[2015-05-05 13:27] marguslt commented on #73
I fiddled a bit with devices and accounts in Movescount back then. Apparently one device can belong to many accounts, so I just registered with different email to get a clean account.

[2015-05-07 11:24] paddy-hack commented on #73
@marguslt Thanks for the suggestion.  I may give that a try later.

[2015-05-10 13:49] mephistopheles78 commented on #54
Unfortunately, sync still does not work with Ambit 3 Peak:
[code]

[2015-05-11 09:27] gauthierelcapitan opened #97 "Openambit behind a proxy"
Is it possible to use openambit behind a proxy ?

[2015-05-12 12:02] paddy-hack commented on #97
I couldn't quite find out what the default Qt proxy behaviour is from the documentation but based on that documentation and the `openambit` code, I think `openambit` does not support proxied access.  Why don't you give it a try by starting `openambit` from the command-line with an appropriate value for `http_proxy` and/or `https_proxy`?  Something like
[code]
might just work.

[2015-06-17 21:04] centic9 opened #99 "Building with make-option -j to build in parallel fails"
When I try to package the latest openambit and build it for Ubuntu, it fails with

[code]

When I remove the "-j" option in the call to make, compiling works, so it seems something in the generated Makefiles does not support parallel building correctly now.

See also https://launchpad.net/~dominik-stadler/+archive/ubuntu/ppa/+build/7550585/+files/buildlog_ubuntu-trusty-i386.openambit_0.3-1ubuntu0%

[2015-06-18 08:55] paddy-hack commented on #99
Seeing that a serial build works just fine for you I suggest that you use that for now.

The most likely reason that the parallel build does not work is that the `add_subdirectory` entries in the top-level `CMakeLists.txt` do not impose a build order.  At this point I know too little about `cmake` to fix this quickly.  A quick glance at `add_dependency` suggests that that might fix things.

[2015-06-18 10:03] centic9 commented on #99
Yes, I am fine with non-parallel build for now, however as parallel-building is the default in the current Ubuntu/Debian package it might make sense to fix it before doing the next release-package.

[2015-06-18 11:18] paddy-hack commented on #99
I just confirmed that running a second parallel `make` will fix things as well.

[2015-06-20 01:45] pdizzle commented on #54
Hey there,

I am looking into getting an ambit3, is this still in a testing phase or is it considered fully/mostly functional? I only have a linux machine but I'd be willing to provide what I can if needed.

[2015-08-06 11:47] #99 closed

[2015-08-23 16:11] fanningert opened #100 "ArchLinux package"
Hi,
I create a ArchLinux AUR package for this project.
https://aur.archlinux.org/packages/openambit/

My question now is, under which licence run this project?
MIT, GNU, ...

Regards
Thomas

[2015-08-23 16:29] fanningert opened #101 "Missing error handling when no arguments are added"
I get this error when I execute `openambit2gpx.py` when I don't add any argument.

Tested with python 2.7 and 3.

[code]

[2015-08-24 11:08] paddy-hack commented on #101
I guess it could show the `usage` message and exit with an error status.  I'll whip up and commit a patch.

[2015-08-24 11:25] paddy-hack commented on #100
Mostly GPLv3+.  There are `COPYING` files in `src/libambit/` and `src/openambit/`.  The code in `src/movescount/` used to live below `src/openambit/` but didn't get a copy of the license when it was moved.

The only part that is possibly not GPLv3+ is below `wireshark_dissector/` which has a `COPYING` file that contains a BSD-style license.

[2015-08-24 11:25] #101 closed

[2015-08-25 15:53] fanningert commented on #100
Ok, in the meantime I set the standard licence of the package to BSD and it were good when you put a central licence file in the root with the different licence types of the sub objects of this project.

[2015-08-25 16:15] fanningert opened #102 "Error on build versin 0.3"
Currently I get following error when I build the 0.3 version.
Did any known the problem. I don't think it is a problem of the project, but I am not so familiar with cmake.

Build command
[code]

**Update:** I add the complete build output
[code]

Regards
Thomas

[2015-08-26 08:59] paddy-hack commented on #100
Uhm, I guess I should have mentioned that the `wireshark_dissector/` is not build by default and really only a developer oriented Wireshark plugin.  It is not needed for the day-to-day use of the `openambit` GUI.  With that in mind, I think that GPLv3+ makes a better choice for the standard license.

[2015-08-26 09:28] paddy-hack commented on #102
I just ran a build on 0.3 and that completed fine.  Comparing my log with yours, the main difference is that where your log says (abbreviating that really long source code directory a bit):
[code]
Mine says
[code]
So even though you're building from source, `cmake` finds a `/usr/lib64/libambit.so`.  Do you have `openambit` installed by any chance?
This looks a lot like #77, which was fixed in 1bb3

[2015-08-26 10:51] fanningert commented on #100
Ok, I will change it to the GPLv3+ license.

[2015-08-26 10:53] fanningert commented on #102
@paddy-hack You are right. When I compile 0.3 a different version of openambit is installed.
Yes, I also create a git package and this is working.
https://aur.archlinux.org/packages/openambit-git/

[2015-08-26 11:08] #102 closed

[2015-08-27 20:11] sojkin commented on #54
Hello

any news when Ambit 3 will be implemented?

regards
Marcin

[2015-08-28 09:21] mbernasocchi commented on #54
it is already

[2015-08-30 08:44] sojkin commented on #54
![zrzut ekranu z 2015-08-30 10 42 15](https://cloud.githubusercontent.com/assets/2184760/9566392/f52eb664-4f03-11e5-8834-cf36ce39d56b.png)

when I'm connecting my Ambit 3 I get message that it's not supported yet.

[2015-08-31 15:35] marguslt commented on #54
0.3 was released on 16 Sep 2014, you might want to try something more up to date and build from source. It's actually quite straightforward.

[2015-09-01 12:57] mephistopheles78 commented on #54
I'm still facing problems with using openambit and my Ambit3 Peak:
![suunto_ambit3_peak](https://cloud.githubusercontent.com/assets/12381495/9604702/68f4bd08-50b9-11e5-97a4-2928e0ae675d.png)

Debugging information:
[code]

[2015-09-04 02:43] nicfit opened #104 "Segfault when syncing"
[code]

[2015-09-15 18:58] tambit commented on #54
I just received my Ambit 3 Peak running fw rev 2.0.4 and at first glance I am seeing the same problem as  mephistopheles78 when running latest openambit-master. After spending some time with wireshark I found

- Get settings
- Set Date
- Set Time
- Get Device Info

seem to work flawless. Where I see problem is actually "Get Lock Status" and "Get Log Header". Regarding "Get Lock Status" I already s

[2015-09-16 11:24] paddy-hack commented on #54
I have been looking at the details of the protocol (using a "regular" Ambit) a bit over the summer with the intent of producing some documentation.  From my observations the `0202` part of what you see very likely means "command not supported".  So the 0 length reply payloads are understandable.  IIRC from my Ambit, failure to "Get Lock Status" is not necessarily problematic.  If that is the case

[2015-09-21 10:30] fanningert commented on #100
Ok, changed the licence of AUR package to GPL3+.

[2015-09-21 10:30] #100 closed

[2015-09-23 21:59] natanojl commented on #104
The same happens here.  It looks like buffer_offset far exceeds the buffer size of 5620.  The buffer size of 5620 also sounds small considering 4877 samples are available?

    libambit INFO: ambit_device_info_new(): ignoring unknown device (VID/PID: 046d/c512)
    libambit INFO: ambit_device_info_new(): ignoring unknown device (VID/PID: 046d/c512)
    libambit INFO: ambit_device_info_new(): HID

[2015-12-03 15:28] superdupersvard opened #106 "Failed to automatically sync log entries to movescount."
I was not able to get openambit to automatically sync log entries to movescount.com when the watch was connected to openambit.

I found out that in MainWindow::deviceDetected() that settings.beginGroup() was called and then SyncStart() was called, that also called settings.beginGroup() before settings.endGroup() has been called for the first settings.beginGroup(). This resulted in that the setting

[2015-12-04 10:21] benedetto commented on #106
The help pages are your friend ;-)

Consider [the help pages on proposing changes in general](https://help.github.com/articles/proposing-changes-to-a-project-with-pull-requests/) and especially the [page on creating pull requests](https://help.github.com/articles/creating-a-pull-request).

[2015-12-10 10:04] paddy-hack commented on #106
Seeing that you opened #107 and that I just merged that, I guess this question can be closed

[2015-12-10 10:04] #106 closed

[2015-12-20 15:00] nh2 commented on #54
Would it help if we set aside a computer connected to the Ambit 3 which you could SSH into?

[2015-12-27 13:32] guigoutz13 opened #109 "Join the project"
Hello,
I'm a French student at the end of an engineering school in digital science, in particular in software development. I have had an Ambit 3 for Christmas and when I have know this projet (openambit), I wanted join it !

To beginning, I would understand how run the software for the Ambit2. I read currently the code of libambit to understand how get the information with the usb protocol of the

[2016-01-02 06:12] paddy-hack commented on #109
You may want to have a look at #54.
What seems most needed is a recent USB packet capture of the Ambit3 syncing to Movescount via Moveslink2.

[2016-01-07 20:06] tambit commented on #54
I have actually working code for fw versions > 2 (2.0.4 & 2.0.45). Although it works for me, it still needs some further testing and the biggest problem I currently see is how to handle compatibility with previous firmware versions.

Please let me know your thoughts on backward compatibility.

[2016-01-08 10:59] paddy-hack commented on #54
Being able to look at and try out your working code would be immensely helpful.  Could you push it to your openambit clone?  Then the adventurous Ambit3 owners can test your code and everyone can chime in on your backward compatibility concerns.

[2016-01-08 12:10] tambit commented on #54
Ok I just pushed it as you suggested. Currently the code is setup to work with 2.0.45, but it should also work on 2.0.4 when komposti_version in libambit.c is adjusted accordingly. I am not 100% sure if this is really required, but probably somebody still running on 2.0.4 can comment on this.

Syncing FW versions <2 will definitely fail in the current state of the code. The wireshark dissector sho

[2016-01-19 14:18] superdupersvard commented on #21
I have experimented with this issue and are now able to sync the sport / custom modes to my watch. (The changes are in my fork.)
However there are still some unclear areas.
1. When syncing in Windows and looking at the data sent to the device, I see that in addition to the displays defined at movescount.com site it also sends 5 additional displays to the device for every sport mode. This 5 display

[2016-01-19 20:46] benedetto commented on #21
@superdupersvard That's great news. You have mail, I hope it helps.

[2016-01-27 15:04] Idiotein commented on #54
I can report success with tambit code, built on Debian amd64 Sid. My Ambit3 Peak "Emu" running logs sync properly. The watch is running on the latest firmware (2.0.45).

Big thank you to tambit for this !

[2016-02-15 04:32] inf3rno opened #110 "Sync service or documentation?"
I'd like to transfer GPS and HRM data from the watch (ambit3 run) directly to an Ubuntu server. What I'd really like is a service, which auto syncs with the watch when USB is plugged in, and pushes the data to my own service probably through socket connection. I have zero C knowledge, and I think I would do more harm than good if I'd start to write code on that language. Is it possible to do somet

[2016-02-18 16:45] superdupersvard commented on #21
@benedetto Thanks for the logs. They showed the exact same 5 extra displays.
I am now also able to sync apps.
If someone wants to try to sync with these changes, please go ahead. Right now the code in my branch will print out all the data sent to the watch to the terminal. (You may have to turn "Sync orbital data" to off, to not also print all the orbital data.) You also have to turn on "Sync spor

[2016-02-19 10:50] marguslt commented on #21
Nice! Tested with Amibt1, seems to buld and run and sync just fine, at least nothing blew up and my sport modes and apps are still working :) Will check against Moveslink captures in a day or two.
Whats next, offline settings and sport mode handling? :)

[2016-02-22 14:32] superdupersvard commented on #21
@margusit It's nice that it also works with Ambit1. If you have the possibility to take a .pcap log in Windows and e-mail that to me plus the output log from openambit (with the same sport modes setting), then I could check that all the written data is correct for also for Ambit1.
I would also be interested in a Windows .pcap log from someone with an Ambit3 whit a least one sports mode including o

[2016-03-06 20:29] gregglind opened #111 "OSX building challenges :)"
I will add logs and debugs over the next few days.

Tried so far:

[code]

:)

[2016-03-06 20:34] gregglind commented on #111
(issues so far:

1.  procutil / cores
2.  udev doesn't exist on osx. http://apple.stackexchange.com/questions/46951/is-there-a-mac-equivalent-for-udev-folder-on-linux

[2016-03-11 15:19] rideyourstyle commented on #54
Today, i checked out the actual source and tested openambit with Ambit3 Peak (2.0.24). The watch was successful detected but sync failed.
where are the log files located? Can i help with my logfile?

[2016-03-12 11:16] Idiotein commented on #54
Hello rideyourstyle,

I assume you are talking about tambit code preview.
As tambit said his code works only with last firmware version (maybe 2.0.4 too) and breaks compatibility for older ones, so there isn't an option right now around upgrading the firmware first.
My watch is running on 2.0.45 and tambit openambit code works mostly well for running/trail logs, except for minimal heart rate which

[2016-03-13 06:59] bubulle commented on #54
Hello folks,

Are there plans to merge tambit's code at some point ? As the Debian package maintainer, I'd really love having in Debian Stretch a version that supports Ambit 3 watches (even though I'm a happy owner of Ambit 2 nowadays). I understand it only works with Ambit 3 latest firmware but does it introduce regressions for Ambit 2 owners ?

To tambit: where could I get my hands on your code

[2016-03-13 10:05] Idiotein commented on #54
Hello bubulle,

nice to see you interested in this issue, and big thank you for your work in Debian!

Right now I am in a strange situation with my Ambit2, it doesn't work on my Debian stable + backport computers with neither regular openambit or Tambit code. Sync fails toward the end (writing satellite data) and goes in a loop. I didn't have time to debug it yet, will do soon.
On my Sid system it

[2016-03-18 16:16] rideyourstyle commented on #54
I have to check which version (openambit/tambit) I checked out. I worte the wrong version number of my Ambit3. It is the actual one 2.0.45.

Where are the logfiles located to check the problems with my watch?

Thanks

[2016-03-22 20:30] salvojimmy commented on #54
Hello guys, I tried to create an AUR package with the new tambit code for arch linux, I basically failed.
Can someone try, please? It will make happy a lot of arch linux users.

Thanks in advance

[2016-04-23 12:06] CratesDeThebes opened #112 "Failed to get orbital data, Synchronization failed, movescount.com replied with " "" ""
Hi there,

I am using openambit 0.3-1 on several debian jessie installations. It used to work like a charm but two weeks ago it began to fail uploading logs to movescount. I tried to troubleshoot and I waited a bit because problems could have been related to movescount issues.

Now I think it may be a problem with openambit, may be movescount changed something in the protocol in a recent update ..

[2016-04-24 09:38] jadahl commented on #54
I reworked tambit's patch and made a pull request: https://github.com/openambitproject/openambit/pull/113 . I'd be good if anyone with an Ambit3 with an older or newer firmware than 2.0.4 (which is the one my device has) could test it, and if something fails, maybe even send me some logs of successful synchronizations.

[2016-05-17 18:23] microwan commented on #54
Hello Jadahl ,

I have an Ambit 3 Peak with firmware 2.0.45.
i will provide to you some new synchronizations with Wireshark.

                   Best Regards

[2016-05-31 13:57] benedetto commented on #21
@superdupersvard I am using your code now for some time and it hasn't broken my watch (looks like it's not too bad ;-) Thanks for that great work!

However, I have noticed two flaws:

1. Interval timers: I have one Sport mode with an Interval timer set to 20 seconds high, 10 seconds rest. If I sync this to my watch with openambit instead of movescount, it ends up on the watch as 0 meters high, 10

[2016-06-22 14:19] superdupersvard commented on #21
@benedetto Thanks for the feedback.
I have now updated the code with (hopefully) fixes for the two bugs that you found. I have tested with graphs for altitude, heart rate and barograph, and now openambit should sends the same data as in Windows. Please try and let me know if it works for you.

[2016-08-03 16:57] natanojl commented on #104
It seems that the buffer size is incorrectly calculated in case the log is wrapped in memory.

The following sync log excerpt includes one such log item.  See further down for the patch that was used to print this.
[code]
Here, the size of the log from 2016-05-16 starting at 0x7b2165 and ending at 0x7c0000 should be bigger than 56987 (the run was about four minutes longer than the one on 2015-05-2

[2016-09-05 12:53] MarcoSchwarz opened #115 "OpenAmbit - Ambit3 Peak"
Version: Openambit Version 0.3 Using QT 4.8.7

Hi,

the programm detect an Ambit3 Peak but say: D0C419511C001B00 Device not supported yet!

Is there a new version?

Thanks
Marco

[2016-09-05 13:20] jadahl commented on #115
See issue 54.

[2016-09-12 18:39] benedetto commented on #21
@superdupersvard sorry for not answering for so long, but I had some busy weeks now and not much time to use my watch (unfortunately...) Now that things tend to get a bit more calm again I'll see that I can give it a go in the nearer future.

[2016-10-25 20:18] benedetto commented on #21
@superdupersvard finally I have found the time to test both issues and now it works as expected. Also I did not experience any other issues related to the sort mode syncing.

So I would love to see your code merged into master!

[2016-10-26 11:57] gbeste commented on #54
Hi!

Newbie here :) Does any version of openambit work with Ambit3 Peak FW 2.2.16? I cannot get mine to work neither with openambit, nor with tambit version...

[2016-11-04 11:09] crmoore commented on #54
Device ID and codename for "Ambit 3 Run":  0x001e Ibisbill.

Currently running FM 2.0.45 and appears to work with PR#113.

[2016-11-04 12:50] Idiotein commented on #54
Hi gbeste, I am in the same situation, Tambit and Jadhal versions used to work, but right now for my Ambit3 Peak with firmware 2.2.16 nothing works on my Debian.

[2016-11-04 13:04] jadahl commented on #54
@Idiotein did you try with the needed change reported in comment https://github.com/openambitproject/openambit/pull/113#r61484915 ? I haven't gotten around to updating the pull request with that change.

[2016-11-05 12:55] Idiotein commented on #54
Hi jadahl, I applied the fix by reverting the version check in "src/libambit/device_driver_ambit3.c" from ">=" to "<=", it compiles fine on my Debian Sid box, but the watch locks up with the "update in moveslink" message. Am I supposed to modify the sources any further ?
On my Debian 8 "stable" system I can't build libambit right now, even with c99, can't figure out why.
Will have time to investig

[2016-11-08 08:19] Idiotein commented on #54
Hi @jadahl, I answered in the [pull request thread](https://github.com/openambitproject/openambit/pull/113) and added captures, openambit doesn't work on Debian Stable or Sid for me. Seems like last firmware upgrade broke compatibility. If anyone as a different experience please share your solution.

[2016-12-24 18:25] bartko-s commented on #54
+1

[2017-01-04 19:35] JukkaWallin opened #116 "Linux Mint 18.1"
'T\xc3\xa4m\xc3\xa4 PPA does not support xenial' When will new version PPA?

[2017-01-20 12:50] tzahialt opened #117 "Ambit 2 ("Duck") not detected"
I have OpenAmbit (version 0.3) installed in Xubuntu 16.04 (in an Oracle VirtualBox VM).
My Ambit2 ("Duck") is detected by the OS (Produc Id 019), but still OpenAmbit says "No device detected".

tzahi@tzahi-VirtualBox:/usr/bin$ **lsusb**
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
**Bus 001 Device 003: ID 1493:0019 Suunto Duck [Ambit2]**
Bus 001 Device 002: ID 80ee:0021 VirtualBo

[2017-01-24 01:33] jadahl commented on #117
As far as I can tell, "Duck" is supported. Did you verify you have permission to read/write the device?

[2017-01-24 04:45] tzahialt commented on #117
Thanks for your response jadahl.
Yes, according to other threads here, "Duck" should be supported.
As for permissions, could you suggest how do I check them, given the device location in my original post ?
Thanks.

[2017-01-24 05:45] jadahl commented on #117
You could try

 $ ls -l /dev/hiddraw*

[2017-01-24 06:31] tzahialt commented on #117
Thanks Jonas,
I'll give it a try when I'm in front of my pc.

On Tue, Jan 24, 2017 at 7:45 AM, Jonas Ådahl <notifications@github.com>
wrote:

[2017-01-24 18:06] tzahialt commented on #117
Hi,

So I've followed these instructions : http://doc.sccode.org/Guides/HID_permissions.html

And I'm seeing :
tzahi@tzahi-VirtualBox:~/Desktop$ **ls -l /dev/hidraw***
crw-rw-r-- 1 root plugdev 248, 0 ינו 24 19:47 /dev/hidraw0
crw-rw-r-- 1 root plugdev 248, 1 ינו 24 19:49 /dev/hidraw1

and this :
tzahi@tzahi-VirtualBox:~/Desktop$ groups tzahi
tzahi : tzahi adm cdrom sudo dip **plugdev** lpadmin sa

[2017-02-18 06:37] guglez commented on #116
I'm also interested.

[2017-02-23 21:17] manisandro commented on #37
Qt5 support added in 566939bf3b34788161f314cb6367c71b8162b926

[2017-02-23 21:17] #37 closed

[2017-03-05 10:59] dajoe opened #118 "Support for Spartan possible?"
Is there any knowledge on the spartan models? I am considering a purchase and might be able to contribute. However, if this is out of scope of this project or too difficult to implement, I might stick to the Ambit, while they are still available.

[2017-03-05 21:42] manisandro commented on #118
So the current situation is that the original maintainers are pretty much inactive, and there doesn't seem to be someone around anymore in the project with reverse engineering experience (someone please correct me if I'm wrong!). On my part I'm looking at keeping the project alive, but I can't give you a good answer as far as spartan feasibility is concerned unfortunately.

[2017-03-06 09:26] Gerold-R opened #119 "Ambit 2 "Duck" Log File"
Hello
This is not really an openAmbit issue. I am looking for an Ambit 2 "Duck" log file made during a firmware update or a forced firmware update. Is there anyone who can provide me such a file? Personally I only have an Ambit 2S. Thanks in advance.

[2017-03-08 20:51] benedetto commented on #119
Possibly, yes. I still have a firmware update pending and will try to take a log from the update process. However, I can't tell when exactly that will be, but I'll try to do it in the nearer future...

[2017-03-15 12:07] Gerold-R commented on #119
@benedetto Thank you.

[2017-03-15 13:46] Gerold-R opened #121 "Wine 2.3"
Hi, looks like Wine 2.3 Staging is supporting HID very well now. Our syncing program written in Delphi 7 is working fine with the Ambit2 S (we don't have another Ambit yet). It's based on the original MovesLink from Suunto with it's XML files etc. If someone want's to test it with another watch...

[2017-03-15 14:07] #121 closed

[2017-03-16 08:25] Gerold-R opened #122 "Moveslink2 working with Wine 2.3 Staging"
Hi,

just tested again if original MovesLink2 (1.4.4) is running with Wine and yes it does. I installed Wine 2.3 Staging branch on a fresh installed Linux Mint 18.1 and after that DotNet Framework 4 (dotNetFx40_Full_x86_x64.exe). The Moveslink2 installprogram does not work, but I copied the necessary files from an installation on a Windows 7 PC into a created folder on the Linux desktop and I coul

[2017-03-16 11:46] marguslt commented on #122
You can actually find zipped Moveslink2 archives (+ few extras .. )  from Suunto's CouldFront and skip installation,  though I'm not sure now if settings.xml gets created by installer or application. I don't have a cable with me at the moment, but my guess is it's created after you entered details for Movescount and for that you first have to connect your watch.
https://www.google.com/#q=%22Movesl

[2017-03-16 13:14] Gerold-R commented on #122
Yes, I am aware of the files there. That's BTW how I found out which files are needed to run Moveslink2 without installation. There you can also find older Moveslink2 versions or currently the beta 1.4.5

The Settings.xml file is created after ML is closed but you can not sign in using ML this way cause ML needs Internet Explorer 9 (or higher?) for this. You can create an account (if not done alre

[2017-03-16 13:54] marguslt commented on #122
Oh yes, of course, good point.

[2017-03-16 14:21] marguslt commented on #122
Oh yes, of course. Actually I'm bit surprised now that MC sign in / auth is only place where IE is needed. Anyway, nice find!

[2017-03-19 20:13] benedetto commented on #119
@Gerold-R

There you go!
[Update.zip](https://github.com/openambitproject/openambit/files/853521/Update.zip)
This should contain the update of my Ambit2 to Firmware 2.0.16 (if I remember the version number correctly). I could not check whether it contains what I expect since I currently do not get the wireshark dissector to work.

It would be nice if you could give me a brief feedback whether you

[2017-03-20 09:10] Gerold-R commented on #119
Ok.
Thanks benedetto.

[2017-03-20 11:00] Gerold-R commented on #119
Looks like you have hardware version 74.1.19201 (J.1.K.1). I have 75.3.19201. Not sure if I can use it to compare with the capture of my firmware update. Will see.

[2017-03-22 12:55] Gerold-R commented on #119
@benedetto
I could extract all firmware data send to the watch from your capture file and compared it with other firmware data from a capture file of an Ambit2 S with the same hw version 74.1.19201.
Unfortenatly the data are identical. Thank you anyway.

[2017-03-22 12:55] #119 closed

[2017-03-24 12:43] landas opened #125 "Sync navigation items (POIs / routes) (ambit2)"
I'm working on support for sync of the navigation items POIs (waypoint) and routes between device and movescount.

This is ongoing work, and at current stage it will **sync POIs only**, and **delete all routes** from device (due to protocol limits).

You can find my fork at: https://github.com/landas/openambit

It has a lot of added debug messages as it is ongoing work.

**Next stages:**
1) More i

[2017-03-26 09:57] Alcuza3 opened #126 "Fail to get orbital data"
Hi everybody:
I'm writing from Spain. I,d like to thank your efforts for free us from windows slavery. So, i've had a problem with refreshing orbital data. Will you have a solution for fixing this problem?
Thanks a lot,in deed.

[2017-03-27 15:51] landas commented on #126
Hi,

What modell do you have, and do you use the newest firmware version?

[2017-03-27 17:49] Alcuza3 commented on #126
Hi:
My watch is a Suunto Ambit 2s Black edition, bought last year.
And yes, I did it with the latest versión, despite the terrible warning.
When the moment of update orbital data, the application failed.

Thanks a lot for your quickly report.

Cesar

El 27 mar. 2017 7:14 p. m., "Lars Andre Landås" <notifications@github.com>
escribió:

Hi,

What modell do you have, and do you use the newest firmwar

[2017-03-27 23:06] landas commented on #126
Hmmm... I have the Suunto Colibri [Ambit2 S] version, and have no problem with the orbital data.

When you say "the application failed", did it crash or did you get an orbit sync error message?

Could you try the following two steps:

**1) Run lsusb in terminal**

While the ambit is connected to your computer, run the command `lsusb` in terminal
Mine will return `Bus 001 Device 015: ID 1493:001a S

[2017-03-28 20:20] benedetto commented on #125
Concerning your next stages point 4 (sync personal settings): maybe the work done by @superdupersvard in [his repo](https://github.com/superdupersvard/openambit) to sync sport modes could be helpful. Unfortunately his changes are not in the master, yet.

[2017-03-28 22:36] landas commented on #125
Thanks for your comment @benedetto. Do you know the status of @superdupersvard sports mode code? Have you tested it? Does it work?

I have only taken a brief look at his code, but not tested it. Will do so after navigation is implemented.

I have just found out the last bits of the navigation protocol on the ambit, so I will soon start to implement code for it. :smile:

[2017-04-01 12:15] landas commented on #125
I have now finished stage 1 - 3.

Tomorrow I will test a semi-long route with my bike to check that my calculation-formula is not way off what is expected on the ambit. On short walking routes, everything looks good now.

How would you like this to change to be pulled into master @mbernasocchi ? It is a big additions of code.
https://github.com/openambitproject/openambit/compare/master...landas:ma

[2017-04-02 11:21] superdupersvard commented on #125
Hi @landas
This is great.

About the sports mode. Sync of sports mode and also apps works in my implementation. At least for the sports mode/settings I tried. Maybe there are some settings that I missed. I will be great if you also have time to test it.

[2017-04-02 19:19] benedetto commented on #125
@landas
I can confirm that @superdupersvard's code is running fine concerning everything I tried so far.

[2017-04-03 11:52] 2Belette commented on #118
+1
I am looking for any opensource way to sync without being forced to push / publish my data into the cloud and I am considering Spartan or Garmin new 5S but both company force to use their cloud/app to update/use enhance capabilities...
Would be great to get the Spartan supported..

[2017-04-04 11:09] #125 closed

[2017-04-04 11:12] manisandro commented on #23
Done in #128

[2017-04-04 11:12] #23 closed

[2017-04-04 11:30] landas commented on #110
If you are still interested a year after your post, I could help you with some information on how you can achieve it. But it will require some research from you.

You could reveice the data as movescount do it http (I can tell you how if interested), or you could use the xml-log files in  ~/openambit folder (this is the most easy way to do it)

There will be no user friendly way to do it using the

[2017-04-05 12:10] inf3rno commented on #110
@landas Yes I am still interested. Is it really possible to do this with simple HTTP requests? That would be great!

[2017-04-05 16:40] landas commented on #110
1) You have to download / clone the **latest version** from github, and **build it in Debug mode** as described here: https://github.com/openambitproject/openambit/blob/master/README.rst#build-procedure (this is because of SSL verification is turned off in Debug mode in the latest version)

2) **Setup apache** (or another web-server) with a virtual host accepting **uiservices.movescount.com**. Thi

[2017-04-05 18:14] inf3rno commented on #110
@landas Is it required to change the firmware on the watch to do this?

[2017-04-05 22:22] landas commented on #110
No change to firmware I think. I have only tested with latest firmware from Suunto.

## Proxy / data capture
http://doppel.no/openambit_data/
_index.php is the script I have used to capture data between openambit/moveslink2 and uiservices.movescount.com

## Data samples
http://doppel.no/openambit_data/data
here you find example of differen http-request between openabmit/moveslink2 and uiservices.m

[2017-04-06 01:03] inf3rno commented on #110
@landas Okay, I'll give it a try. Thanks! :-)

[2017-04-06 09:59] landas commented on #126
@Alcuza3, did you get orbital data to work?
Yesterday I had problems updating orbital data at home, but at work today it is working again. I dont know if this is a problem with openambit or movescount.

[2017-04-06 19:22] Gerold-R commented on #126
@landas If you think it's a Movescount problem, then simply try do download the SGEE file directly using the http link. Can you download the file, than it's not Movescount. For @Alcuza3's problem it may help to know the firmware and hardware version. Maybe there exists a version with an unknown address to store the SGEE data.

[2017-04-06 19:29] Alcuza3 commented on #126
Hi!:
Thanks for your support. These days I am recovering from an eyes surgery.
I will try to test your solution in a few days.
Thanks a lot indeed.

Cesar

El 6 abr. 2017 21:23, "Gerold" <notifications@github.com> escribió:

[2017-04-10 08:59] Alcuza3 commented on #126
Hi Lars again:
This message is only to thank your help. I didi what you told me, and it´s
works¡
Yesterday night I was be able to update the orbit data in my watch. This
early morning I tested it, and works perfectly.
Thank you so much for your help. If you travel to Almeria anytime, there
will be two beers waiting for you If you warn me.

Cesar.

2017-04-06 21:29 GMT+02:00 César Jesús <alcuza3@gm

[2017-04-11 12:52] ekkia commented on #54
Any news for ambit3 support?

[2017-04-20 08:12] myadzel commented on #54
+1

[2017-04-20 12:21] landas commented on #54
I don't have an ambit3, but I could help out if someone with an ambit3 would like to use some time to help out.

For me the best way is:
- Raw USB-logs from tcpdump, using moveslink2 on a virtual box Windows.
- Proxy moveslink2 trough one of my servers. (this will expose your login and security id to me)
(I will give details if someone is interested)

If someone is interested, write here or mail m

[2017-04-22 14:10] landas opened #134 "New release - 0.4"
1) I have drafted a new release (only visible to project members), but I don't know all new bug fixes and improvements that is worth mentioning. Could someone fill in missing bullet points?

2) Is there any issues that should be closed before 0.4 release?

3) We have to remember to update version number here before release: https://github.com/openambitproject/openambit/blob/ed204af960ca3b1ccc6e1f1

[2017-04-22 21:07] manisandro commented on #134
Scanning the commits since 0.3, other things worth mentioning I see:
- Support Qt5
- Split movescount support to separate library

As for the issues, many open issues will most probably never see any activity again. I'd suggest closing these with "Closing issue without any recent activity. Feel free to reopen if issue is still relevant".

[2017-04-24 16:36] landas commented on #16
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 16:36] #16 closed

[2017-04-24 16:36] landas commented on #15
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 16:36] #15 closed

[2017-04-24 16:36] landas commented on #14
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 16:36] #14 closed

[2017-04-24 16:37] landas commented on #28
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 16:37] #28 closed

[2017-04-24 16:38] #126 closed

[2017-04-24 16:39] #122 closed

[2017-04-24 16:44] #115 closed

[2017-04-24 16:44] landas commented on #112
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 16:44] #112 closed

[2017-04-24 16:46] landas commented on #111
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 16:46] #111 closed

[2017-04-24 16:47] landas commented on #109
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 16:47] #109 closed

[2017-04-24 16:51] landas commented on #104
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 16:51] #104 closed

[2017-04-24 16:53] landas commented on #97
Closing issue without any recent activity. Feel free to re-add issue as feature request if still relevant.

[2017-04-24 16:53] #97 closed

[2017-04-24 16:56] landas commented on #93
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 16:56] #93 closed

[2017-04-24 17:00] landas commented on #87
This could be a duplicate of #96 or fixed in #123.

[2017-04-24 17:00] #87 closed

[2017-04-24 17:01] landas commented on #84
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 17:01] #84 closed

[2017-04-24 17:02] landas commented on #76
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 17:02] #76 closed

[2017-04-24 17:06] landas commented on #75
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 17:06] #75 closed

[2017-04-24 17:06] landas commented on #55
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 17:06] #55 closed

[2017-04-24 17:10] #21 closed

[2017-04-24 17:12] landas commented on #20
Closing issue without any recent activity. Feel free to reopen if issue is still relevant.

[2017-04-24 17:12] #20 closed

[2017-04-24 17:16] mbernasocchi commented on #118
re the spartan, all the reverse engineering work was mainly done by @svenstorp. I've no experience with that. I do have some good contacts at Suunto, I'll try to see if they would be cooperative regarding the protocol layout

[2017-04-24 17:34] landas commented on #134
I have closed a lot of old issues, with the text "Closing issue without any recent activity. Feel free to reopen if issue is still relevant".

I have added version numbers to CMakeLists.txt in commit 59f2a3ea98fd4a448f372bc4b31626bcd9d8d3a0

I think 0.4 is good to go, so who is resposible for releases? :smile:

[2017-04-24 18:43] onedayfishsale commented on #54
I could potentially assist with Ambit3 dumps, etc. Ambit3 Sport running 2.4.1, Moveslink2 on Windows 10 on VMware.

[2017-04-24 19:28] landas commented on #54
Nice. If we could start with a simple route sync it would be easy for me to compare ambit2 vs ambit3.

I would be happy if you could sync your ambit3 with the following map:
http://www.movescount.com/map?route=2355077

Here is a recipe (after you have pluged your watch to the computer and started vm ware)

**1) Find bus number for your ambit**
In Linux terminal:
[code]

**2) Tell movescount to syn

[2017-04-24 19:50] manisandro commented on #134
Good question, I suspect it's either you or me ;)

Would be nice to discover how to update the homepage, AFAICS it is not controlled through gh-pages.
Also, there is a PPA at https://launchpad.net/~openambit, I've sent a message to the owner to enquire about the PPA status resp. for having access so that we can update the packages there.

[2017-04-24 20:29] landas commented on #134
The domain is owned by @svenstorp, and seems like it is hosted on a server owned by him.

Do you  know how the Debian package is updated? https://packages.debian.org/jessie/openambit

To release, is all we need to to click the "Publish release". Will the downloads be created automatically, or do we have to create them manually?

[2017-04-24 20:33] manisandro commented on #134
Updating the Debian package is up to its maintainer (Christian Perrier <bubulle@debian.org>).
When you publish the release, links to tarballs for the release tag (i.e. a git archive for the tag) will appear on the download page. Any other downloads will need to be created manually, but I don't think any other are needed.
On my part I am maintainer for the Fedora package and I'll look at updating t

[2017-04-24 20:43] landas commented on #24
@superdupersvard, could this be closed as fixed?

[2017-04-24 20:53] manisandro commented on #134
Some code of a recent PR isn't QT5 compatible. Patch following soonish, perhaps worth holding off the release for a second?

[2017-04-24 21:29] manisandro commented on #134
I've force-unpushed the 0.4 tag and pushed some fixes. As far as I can see things should be okay now.

[2017-04-24 21:32] landas commented on #134
Thnx

[2017-04-24 21:36] manisandro commented on #134
Perhaps do a quick check whether your recent works also works with Qt5, then I think we can do the 0.4 release.

[2017-04-24 21:40] landas commented on #134
Could you tell me where i need to change config or flag to compile with Qt5 :smile:

[2017-04-24 23:10] landas commented on #134
I found a way to compile with Qt5, but I had to add `option(USE_QT5 "Build against Qt5" ON)` to `src/movescount/CMakeLists.txt` and `src/openambit/CMakeLists.txt`.

The only way I can build this project is using `./build.sh`

When i try:
[code]
the compiler complains about a lot of "undefined reference to ..."

I will test my code tomorrow if it works fine with Qt5.

[2017-04-25 04:57] bubulle commented on #134
Quoting Lars Andre Landås (notifications@github.com):

*I* am in charge of this, as member of the Debian "pkg-running" group,
that maintains sport-related packages. I'm particularly concerned by
Openambit as a Suunto watch owner...and a frequent runner..:-)

However, the version in jessie and stretch *cannot* change: this is
Debian policy to never update software to upstream new version in
stable

[2017-04-25 10:52] landas commented on #134
@bubulle Thanks for your information about the Debian package. The snow is back in Norway, hopefully gone tomorrow again. Happy running. :smile:

@manisandro I have tested waypoints and routes with Qt5 to be ok.

[2017-04-25 11:06] manisandro commented on #134
@landas Ok I'll tag the release then!

[2017-04-25 12:10] onedayfishsale commented on #54
Thanks for the good instructions, @landas. I'm emailing you two links, one dump with nothing to sync, and one dump only syncing the TestOA route. For each I started tcpdump, connected the virtual USB device to my VM, let Moveslink2 sync, then disconnected and stopped the tcpdump.

If anyone else wants to look at the dumps, let me know. They do contain a bit of personally identifiable information,

[2017-04-25 12:43] #134 closed

[2017-04-25 19:43] myadzel opened #138 "Improving translation files"
1. Why is not use of the CDATA sections (https://www.w3.org/TR/REC-xml/#syntax) in the translation files and improve readability of the translation mixed with HTML?

2. Rename duplicates of mistyped strings like "Syncronization failed" or "Syncronisation failed" (instead of "Synchronization [...])". I can take it upon myself.

3. Removing unnecessary attributes ```type="unfinished"``` or ```type="

[2017-04-26 07:16] Idiotein commented on #54
Hello @landas, maybe you are already aware of [this effort](https://github.com/openambitproject/openambit/pull/113) from @jadahl , if not it could be a good idea to share resources.
Thanks for the help.

[2017-04-26 07:32] jadahl commented on #54
FWIW, in the pull request linked by @Idiotein ambit 3 devices with firmwares up to a specific version kind of works (there seems to be less information sent over the cable compared to what I expect, such as HR samples) and I have started to add support for newer firmwares, but haven't managed to get anything worth another pull request yet. I don't have the Movescount XML logs however, and haven't

[2017-04-26 10:27] landas commented on #54
Hi,

I'm aware of the effort of @jadahl, and I know there is some effort in the fork network. I'm just getting my feet wet to se how the ambit3 protocol compare with the ambit2 protocol. I also need to learn how the log-sync is working on both ambit2 and ambit3.

I don't know if we at this time should prioritise for backward compatibility, at least for me if will be impossible.

I'm not even sure

[2017-04-26 10:39] landas opened #139 "Wrong charset encoding with Qt5 build"
When syncing ambit2 with a Qt5 build, it has wrong charset encoding.

Could it be json in Qt5 handling charset different than Qt4?

[2017-04-26 11:26] manisandro commented on #139
Hmm, QJsonDocument (Qt5) assumes UTF-8 [1], not sure about QJson.
Where do the charset encoding issues appear? Can you compare the input json and the parsed QVariant to isolate?

[1] http://doc.qt.io/qt-5/qjsondocument.html#QJsonDocument

[2017-04-26 12:09] mindrunner commented on #118
+1 :)
Can help coding as well. Maybe also reversing the protocol. But lets wait if maybe suunto is willing to help! :)

[2017-04-26 12:35] jadahl commented on #54
I can understand that, but the fact is that I don't have access to any Windows or Mac computers, so I have had no way to upgrade my firmware. Maybe using Movescount on Wine (which has been reported to start working it seems) I can upgrade.

Current status:

Sport and Peak devices are detected properly.

IIRC it works properly

Seems to be using the same method as ambit2, but haven't actually doubl

[2017-04-26 14:38] myadzel commented on #138
https://github.com/openambitproject/openambit/pull/140

[2017-04-26 14:45] myadzel opened #141 "Changes versioning to semantic versioning"
http://semver.org/

[2017-04-26 19:45] centic9 commented on #134
BTW, I have published version 0.4 plus current additional commits at the following Ubuntu PPAs:
* https://launchpad.net/~dominik-stadler/+archive/ubuntu/dsta-xenial-ppa
* https://launchpad.net/~dominik-stadler/+archive/ubuntu/dsta-yakkety-ppa
* https://launchpad.net/~dominik-stadler/+archive/ubuntu/dsta-zesty-ppa

(still built against QT4, the README needs an update for the new dependencies when Q

[2017-04-27 07:22] mbernasocchi commented on #118
unfortunately not yet
""""
Hi Marco. I’m Markus from product management. Randel forwarded your request to give support regarding the Spartan communication protocol for OpenAmbit project. I’m sorry to say that we don’t have to capacity to support this kind of activity as we have our hands full specifying and executing our own work. Not impossible that we some day will open the communication a bit f

[2017-04-27 10:11] #138 closed

[2017-04-27 13:53] landas commented on #139
The core of this issue is QString. Qt5 expects a UTF-8 string for the QString constructor [1].

This issue is still valid for sport modes (verified)
I don't know the status for log sync.

[1] https://wiki.qt.io/Strings_and_encodings_in_Qt

[2017-04-27 14:26] landas opened #144 "Qt5 - QNetworkReply::NetworkError(ProtocolInvalidOperationError)"
**This bug only show up when using non-english characters.**

With the Qt5 build, I get the following error when writing back settings to movescount.

"writePersonalSettingsInThread error: " QNetworkReply::NetworkError(ProtocolInvalidOperationError)

~~Seems like the PUT-request is not supported or supported different in QNetworkRequest (Qt5).~~

https://github.com/openambitproject/openambit/blob/

[2017-04-27 15:07] landas commented on #144
This bug is related to #139.

When put-request do **not** contains non-english characters, the error does not show up.

[2017-04-27 16:27] landas commented on #144
This could still be a problem for log uploads to movescount.

[2017-04-27 17:01] manisandro commented on #144
Mh so I suppose everywhere we are constructing a QString ambit data we should be using fromLatin1?

[2017-04-27 17:28] landas commented on #144
This issue (network error) does only affect the navigation module for now (fixed). Log upload do not send custom text strings.

[2017-04-27 17:28] #144 closed

[2017-04-27 17:31] landas commented on #139
It looks like this is true. I think this is only a problem with the custom sports module now.

[2017-04-27 18:30] landas commented on #139
I don't think there will be more trouble with this for now.

[2017-04-27 18:30] #139 closed

[2017-04-27 18:38] landas opened #145 "Qt4 - end support for it?"
Is there any reason to keep the Qt4 support in Openambit?

I would be happy to not have to test both Qt4 and Qt5 builds.

[2017-04-27 18:47] manisandro commented on #145
Qt4 is EOL, I'm also in favor of dropping support for it. Question is whether to simply declare it obsolete or whether to actually remove support in the build system.

[2017-04-27 19:01] landas commented on #145
At some point the Qt4 build will break if we don't test for it. So either we decide to let 0.4 be the last version supported by Qt4 or we decide to let it live until another version number.

I'm confident to set Qt5 as default build now.

@manisandro could you update the documentation as asked for in #134 by @centic9

[2017-04-27 19:14] centic9 commented on #145
FYI, on Ubuntu I found the following two dependencies instead of libqt4-dev by trial-and-error: qtbase5-dev  qttools5-dev-tools

[2017-04-27 19:33] landas commented on #145
I don't know if this is of any use?

`readelf -d openambit`

returns:
[code]

`readelf -d libmovescount.so`

returns:
[code]

`readelf -d libambit.so`

returns:
[code]

[2017-04-27 19:36] manisandro commented on #145
qt5-qtbase-devel and qt5-qttools-devel are sufficient.

See also http://pkgs.fedoraproject.org/cgit/rpms/openambit.git/tree/openambit.spec.

I'll look at reworking the README when I have a minute.

[2017-04-28 14:18] landas commented on #54
@onedayfishsale @Idiotein could you try to compile from this repository:
https://github.com/landas/openambit/tree/jadahl

It's the same code as pull request #113 :
+ Updated komposti version
+ Updated get_memory_maps for Firmware 2.4.1 (AMBIT_FW_GEN3)

Remember to compile with `-DCMAKE_BUILD_TYPE=Debug` (it gives more debug info in console)

[2017-04-28 14:54] onedayfishsale commented on #54
Same result in the GUI, detects the device and battery level, sync fails. Console output below.

$ ./run.sh
------running openambit------
libambit WARNING: libambit_navigation_read(): Driver does not support navigation_waypoint_read
libambit WARNING: get_memory_maps(): Failed to read memory map key
asyncGet:  "https://uiservices.movescount.com/devices/Finch/69.2.17410?appkey=HpF9f1qV5qrDJ1hY1QK1di

[2017-04-28 15:03] landas commented on #54
@onedayfishsale is it possible for you to send me an usb.log dump while you try with my openambit version?

[2017-04-28 15:11] onedayfishsale commented on #54
@landas Yep, sent it to you directly.

[2017-04-30 09:46] jeremars commented on #54
Thanks for your great work on openambit project. I'm newbee here. I recently have a sync problem with my Ambit3 Peak with moveslink mobile app : my move has been mark as sync on device but not really sync in movescount, so it's actually impossible for me to re-sync my move (it's was my first ultra trail, 105km)...
That's why I started to try openambit project on ubuntu.
Actually my Ambit3 is  dete

[2017-04-30 10:44] landas commented on #54
@jeremars: @onedayfishsale and I might have something that will work on newest firmware next week. It will not be perfect, but I think it will be able to sync logs (without heartrate) and upload to movescount.

[2017-04-30 18:16] marguslt commented on #54
@jeremars , Movescount mobile apps are keeping old _binlog*.bin_ and _*.json_ files. If you are able to get that json for your Move from phone, you can use curl to post it to Movescount manually. Looks something like:
`curl -vX POST "https://uiservices.movescount.com/moves/?appkey=<validAppKey>&userkey=<validUserKey>&email=movescount_user%40mail.kom" -d @2017-04-15T18_37_12.json -H "Content-Type:

[2017-05-01 06:58] bubulle commented on #134
Quoting Lars Andre Landås (notifications@github.com):

Hello fellow developers,

What's the status of the 0.4 release? I just went to the home page on
openambit.org but found nothing about 0.4. I guess there is still work
in progress, is there?

[2017-05-01 09:30] landas commented on #134
Hi @bubulle,

As you know, we are a small team so you might have difficulty to find a package for your distribution. So you might have to compile it your self. The files for 0.4 release you find here:
https://github.com/openambitproject/openambit/releases/tag/0.4

Ubuntu: @centic9 has kindly created packages in his private PPAs. See post above.
Fedora: It is included in Fedora 26 Alpha

[2017-05-01 18:47] jeremars commented on #54
@marguslt Thank you for your detailled tips for recovering my move. I succeded to make an app backup, extract it but I don't find my move. I think it's because when I try to sync it at first time, app crashed and I must removed / re-install it for retry sync.
So I also try to find the diagnostic logs who are sent to suunto but I don't see the generated zip file in cache dir :
[code]
Do you know ho

[2017-05-02 03:43] bubulle commented on #134
Quoting Lars Andre Landås (notifications@github.com):

Hello Lars,

Well, my motiviation is precisely to create packages if you read
former contributions, as I'm the Debian maintainer of OpenAmbit.

However, for this, I mostly need an "official" tarball, which I could
use as a basis for this.

So, my point was mostly getting news on such last step of an official
release. Last time I read mails fro

[2017-05-02 08:08] manisandro commented on #134
Hi @bubulle
Version 0.4 is released, the official tarball is the one which can be downloaded from the 0.4 release page (https://github.com/openambitproject/openambit/archive/0.4.tar.gz).

[2017-05-02 09:45] marguslt commented on #54
@jeremars , sorry, can't help you with diagnostic logs. Was makeLogZip() triggered somehow from Suunto?
There have been some reports in the past about Suunto support recovering Moves over TeamViewer that were lost  due mobile app - http://forums.watchuseek.com/f233/ambit3-move-not-synced-movescount-2114738-post23243082.html#post23243082  . Not sure if they have changed that policy or not.

But if

[2017-05-02 15:03] landas commented on #54
@onedayfishsale and I have created an version that should be working at least with the latest firmware 2.4.1, and it seems like all his 40 logs on the ambit3 is extracted correctly.

We would be happy if more people could test the code with Ambit3 (any firmware) before we merge it to the openambit repository.

**You can download the code from:** https://github.com/landas/openambit/tree/ambit3new

[2017-05-02 17:39] Idiotein commented on #54
Whoa! Nice work @landas, my Ambit3 Peak with latest firmware syncs just fine with your code (57 logs), and I even managed to retrieve a move that Moveslink wouldn't sync and successfully upload it to Movescount. All of this while using my favourite OS, thanks a lot!
I checked the values and all seems fine, heart rate, temp, altitude, everything is there and correct. Only very minor glitch is that

[2017-05-02 18:41] landas commented on #54
@Idiotein @onedayfishsale, I'm not sure if the min hr value is a ambit3 specific problem.

I will test with my Ambit2 some time this week.

You could try to debug it with the dgb (line numbers are with the latest landas/openambit/ambit3new):
[code]

After you have started `gdb` use `<ctrl>+x <ctrl>+a` for a better view of source code. (will not show before you `run`.

[2017-05-02 21:30] onedayfishsale commented on #54
For what it's worth, I'm getting a zero out of pmem20.c:469 every time for the activities on my Ambit3.

`log_header->heartrate_min = read8inc(data, &offset);`

I'm working on fishing around in memory for the correct values, which I have from uploads via Moveslink2.

[2017-05-02 23:24] landas commented on #54
I have committed a hr min fix from @onedayfishsale to  https://github.com/landas/openambit/tree/ambit3new and #146 ,

We are not sure if this fix is compatible with older firmware versions for the hr min value.

[2017-05-02 23:46] landas commented on #134
@manisandro could these links be an answer to https://github.com/openambitproject/openambit/issues/134#issuecomment-296802989?
https://answers.launchpad.net/launchpad/+faq/21
https://answers.launchpad.net/~jonobacon

[2017-05-03 15:32] manisandro commented on #134
@landas Worth a shot -> https://answers.launchpad.net/launchpad/+question/631021

[2017-05-03 21:35] natanojl commented on #104
It looks like https://github.com/openambitproject/openambit/commit/0be57a9751716edb1001a254fdde7e262b1e40b6 fixed this for gen2. It is still present for gen1 (mine has F/W version 1.0.16) since address2 and length2 are zero in the libambit_pmem20_log_read_entry_address call.

[2017-05-03 22:42] landas commented on #104
You say the https://github.com/openambitproject/openambit/commit/0be57a9751716edb1001a254fdde7e262b1e40b6 fix does not work for gen1. Do you think it is because the address2 and length2 data is another place in the data struct than for gen2+?

[2017-05-05 20:11] natanojl commented on #104
No, it's much simpler than that :)

The code for gen1 reads
[code]
but should as far as I can tell be
[code]

I haven't verified if the log is read correctly with this change but at least it doesn't crash any longer and the amount of data actually read seems reasonable.

[2017-05-09 17:33] genexxa commented on #54
I'm not very familiar with Linux.  I have Ubuntu on my laptop and trying to run the program and I'm totally lost.  I have read the documentation and nothing is working.  What would be the easiest way to run the program?

Thanks

[2017-05-09 18:08] #54 closed

[2017-05-09 18:24] landas commented on #54
@genexxa it depends. If you need ambit3 support with newest firmware, you must clone/download this github repository, and build it your self at the moment.

I need more information for one of us to help you. Is the problem cloning/downloading the source code, building, or running the executable you have built?

Any error message in the console?

[2017-05-10 19:28] genexxa commented on #54
Yes I'm trying to run it for an Ambit3 with the latest firmware.  I have tried to ''build'' it with command ./build.sh -DCMAKE_BUILD_TYPE=Debug but I get a load of error!!

[2017-05-10 21:20] landas commented on #54
@genexxa without error messages it is hard to say. You might be missing some packages?

Try installing the following packages:
`sudo apt-get install build-essential libqjson-dev zlib1g-dev libudev-dev libusb-1.0-0 cmake libudev1 libqt4-dev`

[2017-05-10 23:37] genexxa commented on #54
@landas Thanks the build phase looks fine now but I get a permission error when I try to run the application

anonymous@L300:~/Desktop/openambit-ambit3new$ sudo ./run.sh
------running openambit------
./run.sh: 23: ./run.sh: ./openambit-build/openambit: Permission denied

Thanks for your help!!

[2017-05-11 00:01] landas commented on #54
@genexxa on my Ubuntu I can not run the program as root with sudo. (But I get different error)

You could try this:
1) `sudo cp  ./src/libambit/libambit.rules /etc/udev/rules.d/`
2) `sudo udevadm control --reload-rules && udevadm trigger` or a reboot
3) Try to `./run.sh` without sudo.

[2017-05-11 01:31] genexxa commented on #54
Same error

[2017-05-11 11:03] landas commented on #54
@genexxa I could replicate this error message when I did not have file permission to the ./openambit-build/openambit

If you are not familiar with file permissions in Ubuntu `chmod` `chown`, you could try to delete the openambit folder, and clone, build and run again with your normal user.

[2017-05-11 11:04] #96 closed

[2017-05-11 13:43] genexxa commented on #54
@landas Getting there my friend.  The application is now running trough a VM on VmWare Workstation, but I get the error ''permission denied'' when I hit the refresh button.  Here's a screenshot of the error.

![permissiond](https://cloud.githubusercontent.com/assets/28572709/25952151/d0828706-362d-11e7-9d8e-b57f8a9f8180.jpg)

[2017-05-11 14:31] landas commented on #54
@genexxa I don't know why you get permission denied.
The `/etc/udev/rules.d/libambit.rules` file should be fixing this.
Can you check if your ambit type is listed there?

You can have a look here too:
https://askubuntu.com/questions/15570/configure-udev-to-change-permissions-on-usb-hid-device

[2017-05-11 14:34] genexxa commented on #54
@landas It's working!! I did a reboot and everything looks fine.  It's currently reading the content of the watch.

Thank you so much for your help!! Appreciated!!

[2017-05-11 14:40] onedayfishsale commented on #54
@genexxa If you have heart rate data with your activities, I'd be interested to hear if it uploads accurately, especially the "Min HR" fields.

[2017-05-11 14:51] genexxa commented on #54
@onedayfishsale Ok from openambit the Min HR field looks fine.  Now I'm trying to export one specific log to import it to Movescount.

[2017-05-11 15:03] onedayfishsale commented on #54
@genexxa Be sure to enable uploading in Openambit. Instructions here: https://github.com/openambitproject/openambit/issues/96#issuecomment-94269627

[2017-05-11 15:12] landas commented on #117
@tzahialt tell me if this still is an issue for you.

[2017-05-11 15:12] #117 closed

[2017-05-11 15:17] genexxa commented on #54
@onedayfishsale Thanks!! Done!  Hr value are perfect!

Thank you so much guys!

[2017-05-11 15:20] onedayfishsale commented on #54
@genexxa Thank you for testing. You're on firmware 2.4.1?

[2017-05-11 15:21] genexxa commented on #54
@onedayfishsale Yep

[2017-05-12 01:46] mpetazzoni opened #149 "Ambit3 Peak sync with 2.2.16 firmware"
Hi all,

First of all, thanks for all the recent work on supporting the Ambit3 with openambit! It perfect timing because I'm having an issue getting an activity to sync to Movescount (the mobile app crashed while syncing it, and now it doesn't even try to sync it). So I'm trying to use openambit to get it back from the watch and push it to Movescount.

Unfortunately I'm having issues getting the s

[2017-05-12 15:24] landas commented on #149
Hi,

To howto create usb dump with tcpdump:
https://github.com/openambitproject/openambit/issues/54#issuecomment-296797463

With wireshark:
http://openambit.org/wireshark-dissector/

[2017-05-12 15:54] landas commented on #149
@mpetazzoni It might be a simple fix:

Try this branch: https://github.com/landas/openambit/tree/ambit3-fw2.2.16

When you clone it, remember to checkout ambit3-fw2.2.16

[2017-05-12 16:23] mpetazzoni commented on #149
Thanks, I'll try that!

[2017-05-14 12:47] makruiten opened #150 "GPS points not synced properly"
I'm on Fedora 26, running Openambit 0.4. The last two syncs, the map on Movescount is incomplete. Specifically, the starting point is shown incorrectly. All statistics, such as total distance, are correct, but the map isn't. In the provided screenshot, it should have been a full circle. The first 0.9 km is missing.

[log_E6C409510C001700_2017_05_14_12_49_56.log.txt](https://github.com/openambitpro

[2017-05-14 18:25] jasmingillfortin opened #151 "Suunto ambit 3 peak not supported"
Hi !

I want to access an activity on my watch that is no longer accessible due to a crash of the app on android. I try to use OpenAmbit and I have the message: Device not supported yet! Some idea how to do? Thank you!

![image](https://cloud.githubusercontent.com/assets/25671647/26036700/c70624e6-38b0-11e7-899a-56d22746ffe7.png)

Suunto Ambit 3 Peak fw : 2.4.1

[2017-05-14 19:15] centic9 commented on #151
Which version of OpenAmbit did you try? Support for Ambit3 was added just recently so you might need to use a version built from current master.

[2017-05-14 19:33] benedetto commented on #150
I'm quite sure this is not an openambit issue. I also have such behaviour very now and then, where the GPS trace of beginning of a route is missing and I had those syncing both with openambit and the moveslink Windows client. TO me, it happens especially in cases where the watch hasn't been synced for a greater while -- something like more than 1.5 weeks or so.

I'm quite sure that the watch is on

[2017-05-14 20:45] jasmingillfortin commented on #151
I try with version 0.4

[2017-05-15 12:36] landas commented on #151
@jasmingillfortin  You must compile from latest source to get ambit3 support.

[2017-05-15 12:39] jasmingillfortin commented on #151
Can you specify witch one because I compile many version and always the same problem. Thanks you

[2017-05-15 12:46] landas commented on #151
The latest should work.

Could you do a: `lsusb` in the terminal and post the line reported for your ambit?

[2017-05-15 13:03] paddy-hack commented on #150
I have similar experiences when not syncing the orbital data for longer periods of time with the Ambit (i.e. the Ambit1).  However, in my case it does record the whole GPS trace but the points in the beginning are "all over the place".  This often leads to rather inaccurate distances (sometimes over 1km off when running) and sometimes to quite hilarious current speeds (running at 80  kph after a 4

[2017-05-15 22:04] jasmingillfortin commented on #151
Bus 001 Device 004: ID 1493:001b Suunto Emu [Ambit3 Peak]

[2017-05-16 06:58] mpetazzoni commented on #149
So, I had some time to give it a go tonight and sadly it doesn't work either. There's no error, and it ends with "Synchronization complete", but it doesn't actually list or sync any moves from the watch to the computer, even when checking "Resync all".

[code]

What am I missing?

[2017-05-16 10:15] landas commented on #149
I need some usb capture to see what is happening.

[2017-05-16 10:25] landas commented on #151
I have seen a similar issue to yours, but that was on a virtual box linux session.
I need more information to help you.

If you could clone this version:
[code]

Info from the console + an usb capture would be great to debug this further.

[2017-05-16 11:08] jasmingillfortin commented on #151
I'm using virtual box too.

Just try this version and i got :

etudiant@etudiant-VM:~/Bureau$ git clone https://github.com/landas/openambit.gitClonage dans 'openambit'...
remote: Counting objects: 2669, done.
remote: Compressing objects: 100% (150/150), done.
remote: Total 2669 (delta 78), reused 0 (delta 0), pack-reused 2519
Réception d'objets: 100% (2669/2669), 841.82 KiB | 0 bytes/s, fait.
Réso

[2017-05-16 13:28] landas commented on #151
Im not sure what is the problem with virtualization and usb/openambit. I have never tried it my self, but I can test it on thursday.

[2017-05-16 22:19] makruiten commented on #150
That sounds like this happening to me. I'm using a footpod, so the total distance and the pace were not too far off.

Somehow, syncing orbital data didn't work for a while on my watch (with Openambit) and it would retry syncing indefinitely. Maybe that explains why it couldn't get the needed gps accuracy, because it certainly isn't my running frequency (I'm running about three times a week). This

[2017-05-16 22:19] #150 closed

[2017-05-17 02:23] jasmingillfortin commented on #151
Just download Ubuntu on another computer and I have the same problem with a message on my watch (update with moveslink). I install openambit with the ppa, because I was unable to compile the project.

[2017-05-17 09:57] paddy-hack commented on #151
@jasmingillfortin I just happened to notice this in your log
[code]
You should do the `git checkout` *after* the `cd`.

[2017-05-19 02:45] mpetazzoni commented on #149
Ok, got the capture with tcpdump:

[code]

Then ran the sync. Results are at http://code.bulix.org/sownoq-132855?raw

[2017-05-23 10:05] landas commented on #151
Openambit with the ppa has no ambit3 support.

I tried with Fedora inside Virtual box with no problems.

@jasmingillfortin, when running inside virtual box, are you sure moveslink is not running in the background on Windows? Could you check, maybe that could be the problem.

[2017-05-23 10:16] landas commented on #149
@mpetazzoni, the log is not complete. Its stop in the middle of a data transfer.

[2017-05-28 00:45] mpetazzoni commented on #149
Hmm, that's weird. I did another capture, and it looks like there's more stuff going on, but I can't tell if it has what you need: http://code.bulix.org/bpyqfn-138457?raw

Note that all my moves were already synced before. What I would like to know is if I can re-sync a previous move that wasn't actually transferred to Movescount correctly.

[2017-06-01 23:29] Clight75 commented on #54
@landas I get exactly the same error ''permission denied'' in application when I connect my Ambit3 Peak and hit the refresh button as ganexxa in his post with screenshot. I tried to check the /etc/udev/rules.d/libambit.rules file, but the file does not exist in this location. I'm running Debian and Openambit 0.4 downloaded from this link: https://github.com/landas/openambit/tree/ambit3new . Can yo

[2017-06-02 08:25] Idiotein commented on #54
Hi @Clight75,

at this point I would recommend building the main tree, Ambit3 related changes have been merged in openambit-master version 0.4.
You will find the udev rule file in src/libambit/libambit.rules (that's in the source folder where you have built openambit) , you need to copy it to /etc/udev/rules.d/ or wherever the udev rules are stored on your distribution.
To activate the rule you ca

[2017-06-02 14:51] superdupersvard commented on #24
Yes, this was also included in the merge Added custom mode (Superdupersvard) #130

[2017-06-02 18:06] bencardoen opened #152 "malloc memory corruption when writing navigation data to suunto ambit"
Hi,
When I run the latest openambit (0.4) everything works, except when I change routes in movescount, triggering a navigation sync. The GUI hangs at "Writing navigation".
In the console I can see that memory corruption has occurred and the program hangs.
The watch then stops responding until I resync it with version 0.3.
As expected with memory corruption in C++, the stack trace is printed follow

[2017-06-03 09:46] Clight75 commented on #54
Hi @Idiotein,
many thnaks for your help, it worked for me, I can download records from my Ambit3 now:)

[2017-06-03 17:57] #24 closed

[2017-06-03 17:59] landas commented on #152
Thanks for the report. I will look into this.

You can turn of navigation sync in settings.

[2017-06-07 00:31] mpetazzoni commented on #149
@landas Have you had a chance to look at the capture above? I really want to be able to sync that activity from my watch :)

[2017-06-07 19:49] landas commented on #149
@mpetazzoni It was better, but it doen't help me. :(
Is it possible to get a log from windows moveslink, preferably with at least one move synced.

[2017-06-11 07:08] mpetazzoni commented on #149
I don't have a Windows machine. I can try to get a capture where it actually has something to sync though. I'm still not sure I understand how openambit works though. Is it supposed to show me a list of the moves on the watch, with the ability to download/sync a specific one?

[2017-06-14 20:45] fabiolucidi opened #153 "Suunto Traverse support?"
Hi!

I'm trying to access my Suunto Traverse, but nothing appears in Openambit 0.4 ("No device detected" message): is it something usb settings related or is just a not supported watch?
I've always thought it was very similar to Ambit3.

 This is the lsusb output:
`Bus 001 Device 007: ID 1493:002b Suunto `

[2017-06-15 07:58] marguslt commented on #153
It should be, but currently there's no Traverse entry in supported device list.
If you can build it yourself, try adding
`{ SUUNTO_USB_VENDOR_ID, 0x002b, "Jabiru", {0x00,0x00,0x00,0x00}, { "Suunto Traverse", true, &ambit_device_driver_ambit3, 0x0400, {0x02,0x04,0x59,0x00} } },`
to known_devices list in src/libambit/device_support.c ,
and   `SUBSYSTEMS=="usb", ATTRS{idProduct}=="002b", ENV{openambi

[2017-06-15 20:40] fabiolucidi commented on #153
Thanks.
Files edited, rebuilt and  udev rules reloaded (reboot was needed).

Watch is now recognized, but i get the following when trying to sync:

`Vendor: 1493, Product: 2b
libambit_komposti: 2 4 59 0
Komposit version: 2 4 59 0
asyncGet:  "https://uiservices.movescount.com/devices/Jabiru/72.1.0?appkey=HpF9f1qV5qrDJ1hY1QK1diThyPsX10Mh4JvCw9xVQSglJNLdcwr3540zFyLzIC3e"
libambit WARNING: libambit_na

[2017-06-16 22:56] graham1980 opened #154 "Help installing openambit"
Hi,

Apologies if this is the wrong place to ask this question but I'm a Linux newbie and trying to install openambit using ./install.sh inside the openambit folder

I see an error relating to qjson but when i try and install libqjson-dev it says package not found.

Thanks for any assistance, error details below :

ubuntu@ubuntu:~/Downloads/openambit$ ./install
------building libambit------
-- Con

[2017-06-17 07:35] manisandro commented on #154
You are missing the QJson development package, depending on what distro you are on it might be called qjson-devel or libqjson-dev or similar.

[2017-06-17 21:08] graham1980 commented on #154
Thanks for the reply. I'm on Ubuntu 16.04 and cannot seem to find the QJson package through apt-get.

Have tried libqjson-dev , libqjson0 and qjson.

Any further assistance is really appreciated.

[2017-06-17 21:15] manisandro commented on #154
Make sure you have the universe repo enabled. Then it should be libqjson-dev:
https://packages.ubuntu.com/xenial/libqjson-dev

[2017-06-18 04:17] centic9 commented on #154
As it seems you are on Ubuntu, if you just want to run a fairly recent version of OpenAmbit, you can  install ready-made binaries from my PPA at https://launchpad.net/~dominik-stadler/+archive/ubuntu/dsta-xenial-ppa

[2017-06-18 08:18] graham1980 commented on #154
Thanks for the replies. It's installing now and the application is opening up ! The problem now seems to be that no moves from the watch are being listed in the application. I get the following in the command line if I press 'sync now '. Do i need to add in my own account or app key details ? It seems to hang at the asyncGet command.

ubuntu@ubuntu:~/Downloads/openambit$ libambit WARNING: libambit

[2017-06-19 12:18] simdol commented on #118
I also own Suunto's Spartan Ultra. What exactly is there need to be done for openambit to support Spartan series? It would be really amazing if I could ditch Windows VM just for this. Come on Suunto, you have support for Windows & OS X but not GNU/Linux? Looking forward for update! :)

- Subscribed.

[2017-06-22 10:57] centic9 opened #155 "Provide support for downloading XLSX/KML/GPX/..."
Not sure if this is possible via the Suunto REST interface, but it would be nice if we could add UI for downloading the resulting .xlsx/.gpx/.kml files that the Suunto Web UI provides.

I would be willing to work on this feature, but as the REST API is not documented and I have no information about it whats-o-ever, it is hard to see if this is even feasible. Does anyone have enough insider-informa

[2017-06-22 10:59] centic9 commented on #155
I just now found issue #20 , this one basically is the same thing only also for other types of downloads that Movescount provides, e.g. .kml, .xlsx, .fit, ...

[2017-06-22 13:08] marguslt commented on #155
Considering that Movescount web UI provides export options and Openambit has a potential to provide completely offline or self-hosted solution, on it's own or combined with some other project, e.g. https://github.com/bwaldvogel/openmoves , could you name few examples where exporting thought Openambit UI + Movescount service would be superior over local conversion or doing that same thing in Movesc

[2017-06-25 19:50] centic9 commented on #155
Thanks for the hints, I previously went the way of web-ui-sctaping, but it sometimes broke and lately somehow  became impossible for me to use, so I am looking for alternatives.

I'll look at the Android app to see if it allows to glimpse some bits out of the used protocoll.

[2017-06-25 20:05] graham1980 commented on #154
Hello, below is a screenshot of what I'm seeing. If i update the firmware i think all moves on the watch would be deleted. Thanks for any assistance on this.

![openambit](https://user-images.githubusercontent.com/604416/27519364-8efcf05a-59e1-11e7-9fce-e16cabc50b27.png)

[2017-06-26 11:30] marguslt commented on #155
If you just want to set up some automation or mass-export for yourself, poking Movescount web with browser developer tools will reveal everything you need regarding listing and exporting Moves.

A lazy way to get around authentication for something like that is to use cookies from your browser session - Network tab in Chrome dev.tools provides  "copy as cURL" for every URL, this includes cookies a

[2017-06-26 11:57] centic9 commented on #155
Yes, that's the route that I am going now, only it is kind of cumbersome and would be nicer if the REST interface could be used for all steps, however with the current information it seems this is not possible and thus not feasible in openambit itself.

[2017-06-26 11:57] #155 closed

[2017-06-26 15:58] vascotenner commented on #116
I am also interested. I just compiled from source. First install dependencies:

[code]

Then build as explained in Readme.md

I was not able to install via the built script.

[2017-06-26 16:15] vascotenner commented on #116
These PPA with binary files work on xenial based systems according to @centic9: https://launchpad.net/~dominik-stadler/+archive/ubuntu/dsta-xenial-ppa

[2017-06-27 10:37] Malkavian81 commented on #54
Hi @Clight75 ,
which Linux do You use?
Can You download already downloaded moves from Your Suunto or only a new ones ?

[2017-06-27 18:02] Clight75 commented on #54
Hi @Malkavian81,
I'm using Debian 9  - unstable version, on date when I was trying to get Openambit to work was not stable one available Final Debian 9 Stretch was released on 17th June, but I haven't updated my system yet).
With first connection Openambit downloaded all moves from watches (even those which were already synchronized earlier via Windowss PC Moveslink application), then with next co

[2017-06-29 18:19] graham1980 commented on #154
Help ! Can anyone please help me ?! Could the Move's be not displaying in the app because of the old firmware ? Is it possible to find out where the app is failing when trying to read the logs ?

Even if i could access the logs from that watch that would be great. Thank you

[2017-06-29 18:21] graham1980 commented on #154
@centic9 Thank you for your comment, I downloaded your version from SVN and can get it started but it's the same issue where the Move's are not being listed in the app. Thanks for any info.

[2017-07-02 08:51] centic9 commented on #154
I just uploaded a package with the latest changes to the PPA, can you try this one? Should have version 0.4-0ubuntu0~git20170702~ppa1.

[2017-07-06 12:02] gomesferreira opened #158 "Ambit3 Peak not supported?"
Hi,
I have installed Openambit 0.4 (qt5.7.1) on Fedora 26 Beta. It gives message that device it's still not supported.
Is there any other latest version supporting it?
Thanks!

![image](https://user-images.githubusercontent.com/29948471/27910030-3a444f28-624b-11e7-983a-a4ef41e9f2e9.png)

[2017-07-06 12:10] gomesferreira commented on #151
@landas Just opened a new issue on this. I tried with Fedora and I'm having problems too.

[2017-07-06 21:23] krtek4 commented on #158
Hi @gomesferreira ,

There's already an issue opened about this topic : https://github.com/openambitproject/openambit/issues/151

I'd suggest you close this one to keep the discussion in the same place.

[2017-07-06 21:41] gomesferreira commented on #158
Thanks @krtek4. I agree. I just wanted to know if there is already an working SW for this.

[2017-07-06 21:41] #158 closed

[2017-07-13 12:56] gomesferreira commented on #151
Hi, Can someone give some feedback on this? I would like to get my move out of my watch... because soon will be overwritten :-(
Thanks!
FYI. @krtek4; @landas, @jasmingillfortin;

[2017-07-13 13:18] manisandro commented on #151
The version in the Fedora repos does not have ambit 3 support. I've set up a copr repo with the latest git snapshot, you can give it a try:
https://copr.fedorainfracloud.org/coprs/smani/openambit-git

[2017-07-13 14:36] gomesferreira commented on #151
Hi @manisandro,

I installed the rpms from this link https://copr-be.cloud.fedoraproject.org/results/smani/openambit-git/fedora-26-x86_64/00578930-openambit/ (I guess version 0.5...) but keeps not working :-( I must say I'm not a big developer expert too.
Check screenshots  in attach.
Do you need any logs to take a look? thanks!

![2017-07-13 15_35_56-fedora 26beta running - oracle vm virtualbox](

[2017-07-17 04:03] lwasser opened #159 "basic install question - MAC"
Hello.
I am keen to try this tool out - however i'm having some install hangups. I am new to linux but can make my way around shell. running a MACbook pro.

i tried to install both from the repo and from the openambit website download v.3

When i run
[code]
at the command line in terminal i get:
[code]

Can i install this tool on a MAC - is that the issue that i can't do that? Or did i do somethin

[2017-07-17 20:02] lwasser commented on #159
HI Colleagues - i am closing this issue as i finally figured out this is a linux install and so i'm starting over with ubunto... so far the base download built and installed just fine however my ambit 3 isn't recognized so i'm going to try from github instead :) sorry to bug you guys with a stupid newbie question. i don't know linux but this is a good opp to learn.

[2017-07-17 20:02] #159 closed

[2017-07-17 23:56] lwasser opened #160 "This tool is amazing, can i help contribute to install documentation?"
Hey guys,
I just wanted to THANK YOU for this tool. It allowed me to retrieve a move that was locked due to a bad sync. It took me just a bit to figure out the install due to being a linux newbie. I just wondered if i could help by submitting a PR to help you beef up the installation / setup instructions for others.

THANK YOU THANK YOU THANK YOU!!
Leah

[2017-07-18 06:17] kilonet commented on #151
Hi guys
Is version in Ubuntu repo supposed to support Ambit3? (no luck building from sourse for me as of now)

[2017-07-18 07:15] gomesferreira commented on #151
I doubt Ambit3 it's already supported. At least nobody confirmed so far...

[2017-07-18 07:41] manisandro commented on #151
@landas Should be able to provide the most precise information as to how far ambit3 support goes, the commit log certainly mentiones Ambit3 a couple of times:

https://github.com/openambitproject/openambit/commits/master

[2017-07-18 07:41] manisandro commented on #160
Sure feel free to submit PRs!

[2017-07-18 15:35] lwasser commented on #151
hi all! just a note that the UBUNTO install does NOT support ambit3 peak BUT i built from the git repo and it worked PERFECTLY. i mean it really was fast and seamless ONCE i figured out how to implement the build. THe build was easy too it was just i needed to install all of the dependencies which for a newbie like me was tricky but it works!! it read my watch. i pulled my data. magic!

[2017-07-18 15:39] lwasser commented on #160
wonderful @manisandro . this is the least that i can do.  May i ask - is this where the openambit.org website lives?

https://github.com/openambitproject/openambit/tree/gh-pages i only noticed an index page. i was thinking i could help with pages like this one

http://openambit.org/usage/

and this one

http://openambit.org/installation/

you guys are awesome for making this tool.

[2017-07-18 15:47] gomesferreira commented on #151
Hi @lwasser,
Could you send the link to the git repo you used? Any hint is also welcome! I can try again with Ubunto. I have been using Fedora. Thanks!

[2017-07-18 15:56] lwasser commented on #151
@gomesferreira i just cloned this repo! https://github.com/openambitproject/openambit master branch.

i noticed above someone else had some issues with fedora. i'm new to linux but just installed the most recent version of ubuntu on a virtual disk. then setup git, cloned this repo and setup all of the dependencies (this took some time - cmake, udev, etc etc). Once i did that you can follow the bui

[2017-07-18 17:30] kilonet commented on #154
@centic9 Thanks for making build, I've just installed your version, but when trying to start the app I got:
[code]
any ideas how to fix this?

[2017-07-18 20:57] running-idiot commented on #151
managed to build from latest source, the picture is similar to one's that @gomesferreira has (same device id and name), but window has another message
![image](https://user-images.githubusercontent.com/25170133/28339472-e343d620-6c14-11e7-9e7e-3f30171700d2.png)

[2017-07-18 21:16] manisandro commented on #160
@lwasser I think the openambit.org website is hosted by the original creators of openambit (possibly @svenstorp or @paddy-hack ?) but they seem to have pretty much disappeared from the scene, so unfortunately I don't know how to access those pages...

[2017-07-18 21:26] gomesferreira commented on #151
@running-idiot I also got that message whenever I uncheck the USB setting. After that message like yours keeps there...

[2017-07-18 21:37] manisandro commented on #151
I suppose

https://github.com/openambitproject/openambit/blob/master/src/libambit/device_support.c

is where the list of currently supported devices resides. If your device is not listed there, then it's not yet supported. I've actually never touched the hardware-facing code so I'm afraid I can't be of too much help.

[2017-07-18 21:48] gomesferreira commented on #151
Mine it's there...
{ SUUNTO_USB_VENDOR_ID, 0x001b, "Emu", {0x00,0x00,0x00,0x00}, { "Suunto Ambit3 Peak", true, &ambit_device_driver_ambit3, 0x0400, {0x02,0x04,0x59
@landas, Are you able to help?

[2017-07-18 21:52] manisandro commented on #151
@gomesferreira You could try debugging, if you are familiar with gdb: install openambit-debuginfo, then I suggest you put a breakpoint at `device_support.c:86` [1], and then check first if it actually detects the device at that stage, and if so, where it fails later on (by forward stepping through the code).

[1] https://github.com/openambitproject/openambit/blob/master/src/libambit/device_support

[2017-07-19 11:12] paddy-hack commented on #160
openambit.org was started by @svenstorp.  For all I know he still own the domain.

As for me, I'm busy with other stuff at the moment but still get all the issues in my mailbox.  😉

[2017-07-19 20:33] centic9 commented on #154
The file `libmovescount.so.0` is part of the package `libambit0` which should be installed along openambit unless you force installation without resolving the dependencies.

Check the output of `dpkg -L libambit0` to see if these files were actually installed.

[2017-07-20 20:06] graham1980 commented on #154
Thanks @centic9 for updating the version. I did a sudo apt-get update and the version is Openbit 0.4 but i am getting the same issue as before, i.e. no Moves are being listed and sync fails.

I wonder if there is any way I could capture the logs when they are being read from the watch ? Thanks again for any info.

[2017-07-30 15:41] tmattila opened #161 "Minor UI change - Main view - add splitter"
Hello,

I have hard times to see all data from selected log item. Space reserved for different parts are not given optimally and resizing form does not help. For this reason I added a splitter between sections so I can self tune the widths of different parts and now I can see all data that I need. Could this be part of release?

File: src/openambit/mainwindow.cpp
Method: contructor
[code]
I added

[2017-08-02 05:42] jankowmm opened #162 "Accelerometer data from Ambit Sport"
Hi
I'm looking to utilize the Ambit for a research project tracking people's activity and movement.  I have some machine learning codes that I would like to apply to the accelerometer data, but I can't seem to find any documentation of how to obtain the raw accelerometer data from the device.  Is openambit able to pull this data out?  Many thanks
Marta

[2017-08-02 08:34] manisandro commented on #161
Hi
Could you make a pull request with the change? Did you try as described in [1] to do it in the designer form?

[1] https://stackoverflow.com/questions/28309376/how-to-manage-qsplitter-in-qt-designer

[2017-08-02 19:44] tmattila commented on #161
Hi
I did try (multiselection of controls + lay out xxx in splitter), but it did not behave as supposed - >  I added the code that I proposed.
I can do pull request later this week...

[2017-08-04 18:36] tmattila commented on #161
My limited git bash experience is not making things easy. Would it be ok for you, @manisandro, to add those lines?

[2017-08-04 19:12] makruiten opened #163 "Application crashed and log is not synced - how to fix?"
Openambit crashed while writing the navigation data (which happened twice now, I will open a separate issue for that). My log is not synced with Movescount because of the crash. How do I fix this? Right click menu gives the option to write a Movescount file, but I don't know where it's written to and I don't see any option to upload it to Movescount.

[2017-08-04 19:14] makruiten commented on #163
I only noticed just now that the .log files are the moves and I will use the tool to convert it to gpx.

[2017-08-04 19:14] #163 closed

[2017-08-04 19:56] manisandro commented on #161
You can also directly edit the file from your github fork page (i.e. fork openambit and then go to https://github.com/tmattila/openambit/edit/master/src/openambit/mainwindow.cpp) and then make a pull request, if you want the contribution to appear under your name. Or sure, I can do it.

[2017-08-05 07:34] tmattila commented on #161
Thanks for info. At the moment I would be grateful if you could just do it. Main thing is that the change will be available.

[2017-08-05 07:53] manisandro commented on #161
Done in d8ace78

[2017-08-05 07:53] #161 closed

[2017-08-16 20:08] elShambler opened #164 "Stuck at Reading Device Info"
I've read through a majority of the issues, especially those regarding the Ambit3 Peak. I'm pretty sure I ended up grabbing a copy from @landas branch - [link here](https://github.com/landas/openambit/tree/ambit3-fw2.2.16)

I'll try it with the most recent version of the master branch here, but it seemed like I went through all the right steps, but am still getting stuck here.

Is this potentially

[2017-08-16 20:13] manisandro commented on #164
I'd try to run it inside `gdb` and print out a stack trace when the process is hung, this should give some more insight where things are stuck.

[2017-08-17 13:56] landas commented on #164
Every issue I have looked into with this problem, the usb data stream stop unexpected from the ambit3. I don't know why.

[2017-08-17 14:00] landas commented on #151
All the issues I have seen with ambit3 not detected is running on virtual box (or similar) and the usb data stream from the ambit3 stops unexpected. I have no clue why.

If someone have the problem on a native Linux box with latest build from this git-repo. Please tell me :)

[2017-08-17 14:06] landas commented on #153
There is no driver support for Traverse in open ambit, some one has to code a driver for it. (could be a lot of work)

[2017-08-17 14:39] landas commented on #152
If you are still interested in this bug, could you please help me to confirm if this is a bug of navigation or sport modes. (The stack trace only points to sport_mode)

Could you do changes in navigation items, with different settings.

1) Sync navigation (disabled) and Sync sport modes (enabled)
2) Sync navigation (enabled) and Sync sport modes (disabled)

If the error only occurs with sync sport

[2017-08-17 20:45] elShambler commented on #164
I attempted to use ```gdb``` using ```backtrace``` but when it gets to the same point of reading the device info, it hangs. Hitting CTRL+C at that point didn't stop ```gdb``` so I couldn't run ```backtrace```.

I then tried running the program in one shell, and ```gdb``` in another. The output was the same as what you see above along with the gdb output. I'll copy it down below. There is a chance

[2017-08-19 01:29] bencardoen commented on #152
Sure, this is quite a long reply, so I've sectioned it into separate pieces to keep it clear.

#### Configuration used
I cloned the latest commit, built with
`BUILD_EXTRAS=1 ./build.sh`
(This is on Fedora 25, gcc version 6.4.1)

#### Nav disabled, sport mode enabled
When I then run the application, with navigation disabled and sport modes enabled it almost immediately crashes with the following ou

[2017-08-21 07:45] nabadvin commented on #54
Hi there!
I have successfully built the tree and it's running fine on Ubuntu 16.04 with my Ambit3 Run, thanks a lot!
But I noticed that the routes that I manually create in movescount map don't get downloaded to the watch (to be used with the function "run a route"). Is this the expected behaviour, or they should be synced?
Thanks and regards!

[2017-08-21 08:03] nabadvin opened #165 "Add support to sync routes created in movescount"
Hi there!
I have successfully built the master tree and it's running fine on Ubuntu 16.04 with my Ambit3 Run, thanks a lot!
But I noticed that the routes that I manually create in movescount map don't get downloaded to the watch (to be used with the function "run a route"). Having these synced would be wonderful!
Thank you very much.

[2017-08-21 08:10] AitorMedrano commented on #165
Agreed that this functionality would be extremely useful and allow you to fully detach from the Windows/mobile app. Thanks!

[2017-08-21 18:25] Connando83 opened #166 "Ambit3 Run, no device detected"
Hello,

I have to retrieve a move that has been canceled by mistake on the Movescount mobile app, and that seemingly I cannot sync again, although the file is still stored on the watch log. I suppose it is possible to do this and get a .gpx file or an equivalent with openambit, but I am new to it, and although I have set up the latest version through the following procedure:
``
$ sudo apt-add-repo

[2017-08-31 13:37] runrun1234 opened #167 "Not possible to send "open water" activities to Movescount.com"
It is not possible to send "open water" activities to Movescount.com with "master" branch (end of august) :
I get this :
`Failed to upload log (err code: QNetworkReply::NetworkError(ProtocolInvalidOperationError) ), movescount.com replied with " "\"Invalid CompressedTrackPoints: Invalid Altitude: valid range is [-1000, 15000] m\"" "`

I guess that because open water activities do not have altitude

[2017-09-11 11:55] wbarnard commented on #153
Support for Suunto Traverse (plus Ambit 3 Vertical and Ambit 3 fw v2.2.16) is now available in my branch https://github.com/wbarnard/openambit/tree/extramodels.

This is ready for testing, if no problems I will create a pull request.

[2017-09-11 11:57] wbarnard commented on #149
Support for Ambit 3 fw v2.2.16 (plus Ambit 3 Vertical and Suunto Traverse) is now available in my branch https://github.com/wbarnard/openambit/tree/extramodels.

This is ready for testing, if no problems I will create a pull request.

[2017-09-12 01:32] mpetazzoni commented on #149
It does appear to work. At least, it seems to be making progress downloading the activities from the watch. Sadly, the activity I was most interested in has been aged out by the watch already and has been removed :(

[2017-09-14 09:38] Gerold-R commented on #149
@mpetazzoni
Maybe the developpers could add a new function to OpenAmbit: saving the complete memory where the exercise logs are stored to file. And instead of reading a log from the watch, a log could be read from the file and send to movescount. This would avoid to loose some activities in case of problems. Just an idea. I dont use OpenAmbit.

Also: it is possible to delete the Sync-Flag of an ac

[2017-09-14 16:49] mpetazzoni commented on #149
Yup, deleting the sync-flag to force a resync via the mobile app would be great. As I said unfortunately for my activity, it's too late now :( Thanks for the amazing work though!

[2017-09-15 08:27] Gerold-R commented on #149
@mpetazzoni
BTW: Did you try the app (from Android Playstore) called "Ambit Connect for Ambit3 Beta" from Green Peak Digital to recover the lost activity? This app gives you a better control than the original Movescount App from Suunto over the logs on the watch. At least that is what I heard from other users.

[2017-09-15 10:14] gomesferreira commented on #149
WOW!!! @mpetazzoni  This is good... Where were you been all this time?? :-)

[2017-09-27 16:00] mpetazzoni commented on #149
@Gerold-R I didn't know about it. As I said, sadly, the particular activity I really wanted to get out is gone now and has been aged out of the watch :(

@gomesferreira You mean as a forcing function for motivating someone to work on this?

[2017-09-28 10:18] makruiten opened #168 "Prefer AppIndicator if DBus interface is available"
In Gnome, a lot of people make use of Topicons or Topicons Plus in order to get the tray icon the top bar. Topicons Plus development [will pause or stop](https://github.com/phocean/TopIcons-plus/issues/91) and Topicons is not under active development for a while now (except from a patch for Gnome 3.26 compatibility). Ubuntu will use [their own extension](https://github.com/ubuntu/gnome-shell-exten

[2017-09-29 11:25] cra0zy commented on #168
Appindicator extension has been around for a long time now: https://github.com/ubuntu/gnome-shell-extension-appindicator/graphs/contributors , its not something Ubuntu came up with.

[2017-09-29 13:54] makruiten commented on #168
It’s still their extension your linking to, right? I didn’t mean to disrespect anyone, but it’s on their repo and it’s called “Ubuntu’s extension” in the Topicons Plus issue I linked to. Didn’t now it was that old, though. Was it only used for Gnome 3, or does Unity support Gnome extensions too?

[2017-09-29 13:55] jhasse commented on #168
Only for GNOME 3, Unity doesn't support GNOME extensions.

[2017-10-04 21:59] ljstrnadiii commented on #151
Any luck on supporting the ambit 3 peak?

[2017-10-04 22:52] ljstrnadiii opened #169 "Installation with arch"
Has there been any success building on arch? I seem to continue to run into new packages I need to download. e.g. libcrypto.so.1.0

[2017-10-21 15:27] gerhardol commented on #166
Latest Ambit3 does not seem to be supported. See #149 for a branch with support and for an Android app with support.

[2017-10-30 21:01] haphaeu commented on #165
+1

[2017-12-04 21:33] cfabio opened #170 "openambit2tcx Python script"
I am writing a Python script to convert openambit's "proprietary" logfiles to the more common GPX format.
The script does not recognize laps and I have yet to test how it behaves when heart rate data are present, everything else works fine.
Am I wasting my time? Is there any other method to convert openambit logfiles?
If you guys are interested I can share the script so it can be added to this rep

[2017-12-05 11:25] paddy-hack commented on #170
There is a [tools/openambit2gpx.py](https://github.com/openambitproject/openambit/blob/master/tools/openambit2gpx.py) already.  You may be able to use its output and stuff that into something like [GPSBabel](https://www.gpsbabel.org).

That said, I guess yet another conversion will find a welcome home in the `tools/` directory.

[2017-12-05 16:33] cfabio commented on #170
I used openambit2gpx.py as starting point but since GPX syntax differs quite a lot from TCX I am finding myself rewriting most of the stuff.

[2017-12-10 14:53] damienrg opened #173 "Wireshark dissector update?"
Hi,
I would like to update the wireshark dissector in order to:
 - make it working with newer version of wireshark
 - make it working when compiling from wireshark source or as is (ie without wireshark source)
 - maybe send this dissector upstream
To begin implementing this I have the following questions:
 - should I be backward compatible with the previous wireshark version?
 - do you prefer that

[2017-12-10 15:01] damienrg commented on #145
Do you agree to switch to Qt5? If yes I can send a PR to activate Qt5 by default and update the README.

[2017-12-10 15:03] manisandro commented on #145
Ah yes, I suppose it makes sense to end Qt4 support. PR welcome.

[2017-12-10 15:05] manisandro commented on #173
I know nothing about wireshark, but is there really the need to keep two completely separate codebases/branches for wireshark upstream and openambit?

[2017-12-10 15:23] damienrg commented on #173
For wireshark upstream, we need:
  - different CMakeLists.txt as it is included in the wireshark code
  - Makefile.am, plugin.rc.in
Of course, we will always keep the same code for the dissector, it is just that the plumbing are different.

[2017-12-10 15:29] manisandro commented on #173
So if the plugin is successfully sent upstream, I take the respective plumbing will just live upstream? Or is there a need to keep a downstream copy?

[2017-12-10 15:59] damienrg commented on #173
It depends on how you build the plugin but I think that you build that out of the wireshark source. So in this case there is no need to keep the plumbing here.
When openambit folks release a new version of the plugin someone should report it upstream to make it included in wireshark. To not bother openambit folks I can send PR to modify the plugin here, do the plumbing in my repo and sent it upstr

[2017-12-10 16:04] manisandro commented on #173
Makes sense to me. About backward compatibility: I'd say if you can keep compatibility with the wireshark versions current distros are packaging, it would simplify life for the packagers.

[2017-12-18 16:16] misacek007 opened #177 "openambit-0.4 build in docker container fails"
I tried to compile 0.4 from source using the instructions in Dockerfile but it did not work.
Not sure whats wrong. Can you help me make it work?

[code]

[2018-01-11 10:50] Tronen commented on #162
Hi:
Have you succeded in finding any information related to accelerometers in Ambits???

[2018-01-12 08:53] Gerold-R commented on #162
Hi
As far as I know, at least the Ambit2 and Ambit3 series is using the LIS3DH from STMicroelectronics. It's a
Ultra-low-power and high-performance 3-axis accelerometer with an embedded temperature sensor.
Also used in some Garmin Fenix devices and Step-Counter products.

But I dont know if the data from the accelerometer are stored in a log file to use them later in an external program.

[2018-01-12 16:06] jankowmm commented on #162
So unfortunately the accelerometer data is not accessible from the log file.  I have not been able to find any way to get accelerometer data from the device.

[2018-01-14 14:19] vascotenner opened #178 "Directory missing"
In git version: 6e422792fe49a0c6
Openambit does not create this directory, but tries to write files to it:

```~/.openambit/movescount/```

This directory should be created before moving files to it.

[2018-01-18 09:46] sean-chester commented on #151
I just successfully built openambit on Lubuntu 17.10 using Qt 5.9.1 and synchronised my *Ambit3 Peak* with Movescount using `./run.sh`. Other than a lot of dependencies, the only trick was that I had to specify `-DUSE_QT5=1` to `./build.sh`, which otherwise looked for (and failed to find) Qt 4. 👍

[2018-01-23 03:25] starryalley opened #179 "Porting of libambit to Android"
Hi,

First of all it's not meant to be an issue.

I have to say Thanks to this excellent project. Two years ago when I first knew about it, I had an idea to port the project to Android so I could sync my watch while away from home without my PC. I quitted after 2 weeks of working due to other busy schedules. However I have found some time a week ago and had some outcome by now:

https://github.com

[2018-02-04 21:44] skinnie commented on #179
Thanks for your contribution. I will give it a try.I was looking for something like that...in fact I also trying this one, but could manage to compile it:
https://github.com/kekepins/alt-scount

Hope it helps so in the future we can have offline acess to most of the settings in our ambit watches

[2018-02-05 23:34] BryceStevenWilley opened #181 "Export to GPX"
Given the [recent](https://twitter.com/Movescount/status/960222574646046720) [downtime](https://twitter.com/Movescount/status/960530806912503809) of Movescount, it might be a good idea to implement an offline exporter to the [GPX](https://github.com/irdvo/gpxlib) format, or something that operates better with 3rd-party apps. Adding an option right below "Write movescount file" would be a good plac

[2018-02-06 01:29] onedayfishsale commented on #181
The tools/openambit2gpx.py script works pretty well for me. Not integrated with the GUI but easy enough as a stop-gap.

[2018-02-06 03:16] BryceStevenWilley commented on #181
Oh! I didn't see that script. Definitely fills my use-case. There's still value in GUI integration I think, so I'll keep this issue open.

[2018-02-06 11:15] marguslt commented on #181
One issue with `tools/openambit2gpx.py` is relying only on HR samples in a log file.

Thanks to Movescount being down I happened to use a fresh build of Openambit for a first time after moving from Ambit to Ambit3. Was bit surprised to find out that Ambit3 logs are actually without HR samples, only including IBI data chunks . So for Ambit3 the current `tools/openambit2gpx.py` can only output a GPX

[2018-02-06 11:36] onedayfishsale commented on #181
@marguslt I'm not seeing that with mine. I have HR samples in both the Openambit log and in the GPX from `openambit2gpx.py`.

[code]

[2018-02-06 12:26] marguslt commented on #181
@onedayfishsale mh..  interesting. Can you check your watch SW version, either from logs or by holding down Back/Lap and Start/Stop buttons?
Mine is Ambit3 Peak with 2.4.17, it was released in June 2017, but basically the same issue in ambit2gpx was brought up allready in 2015 - montant/ambit2gpx#10 (2 last comments through google translate)

[2018-02-06 12:42] onedayfishsale commented on #181
@marguslt Ambit3 Sport 2.4.17. Here's the full Openambit log and the GPX created from `openambit2gpx.py`.

[http://www.feep.org/~josh/ambit3/log_6621125107001100_2018_02_04_14_42_51.log](log)
[http://www.feep.org/~josh/ambit3/log_6621125107001100_2018_02_04_14_42_51.gpx](GPX)

I'm not sure precisely what version of Openambit, it was from back when I was helping find HR data in the Ambit3 packets.

[2018-02-06 14:41] skinnie commented on #179
Tried to install it on My 2012 Nexus 7 3G (running 4.4.4 ) and won't let me install the apk

[2018-02-06 21:49] starryalley commented on #179
Yeah it's expected. I should have used earlier SDK/NDK version to build the apk. It's now targeted to Android 7.0/8.0 devices. I'll find some time to re-build it.

[2018-02-07 23:45] onedayfishsale commented on #181
Just pulled and built a fresh copy of Openambit from today, and can confirm HR data in both the Openambit log and the converted GPX.

[2018-02-09 13:11] pygoubet commented on #181
Ambit3 Run 2.4.17. For the same reasons as @BryceStevenWilley, I would have liked to export my moves as GPX and so that, used `tools/openambit2gpx.py` script. The conversion works fine but there are no HR data. The problem seems to come from _log_ file which contains no `_<HR>value</HR>_` tags.

[2018-02-09 13:15] onedayfishsale commented on #181
@pygoubet, @marguslt are you seeing HR data on Movescount when you upload via Moveslink2?

[2018-02-09 13:24] pygoubet commented on #181
Yes, on Movescount website, HR data/graph are present.
My _log_ file has no `_<HR>value</HR>_` in `_<Sample>_` tag but has in the `_<Log>_` section:
[code]

[2018-02-09 14:42] onedayfishsale commented on #181
Hmm, I'm not sure what might be going on. I wouldn't think the Peak or Run versions would be so different that HR data is in a different location but I suppose it's possible. Anyone with a Ambit3 Sport 2.4.17 having HR issues?

[2018-02-09 20:31] marguslt commented on #181
Yup, no issues with HR in Movescount with my Peak, though I'm mostly using Andoid app for syncing. And <HR> samples are not missing in just one Openambit log, I did a full sync, 20+ logs and different activity types (running, xc skiing, indoor sessions without gps & with HR), all are without <HR> samples. But as I said, IBI (interbeat interval) data does exist in Openambit logs. And at least Andoi

[2018-02-10 18:59] Gerold-R opened #182 "Not an issue but I think it's good to know"
DevOps:
You can resurrect any deleted GitHub account name. And this is why we have trust issues.

Read more here:
https://www.theregister.co.uk/2018/02/10/github_account_name_reuse/

@Admin
If it's not considered important, sorry. Please delete.

[2018-02-13 19:26] onedayfishsale commented on #181
@marguslt Mio Link, but I'll try the Suunto sensor tonight if I can find it.

[2018-02-16 22:21] marguslt commented on #181
Somewhat related - just noticed that latest QMapShack release, 1.10.0, supports Openambit log and Moveslink2 SML files, can export to GPX & TCX.
https://bitbucket.org/maproom/qmapshack/wiki/Home

[2018-02-19 07:37] adriangalera commented on #165
+1 the mobile app sucks. I would like to do the route sync with my mobile. Maybe we can port the lib to Android once it is implemented?

[2018-02-19 11:12] marguslt commented on #165
As route sync is already supported, I guess this issue can be closed.
@adriangalera , regarding Android, check #179 & https://github.com/starryalley/AmbitSync

[2018-03-11 20:30] haphaeu commented on #169
It was successfully built on Manjaro (Arch based). Installation didn't went well - files copied to wrong places and libs not linked. But runs fine directly from build directory using the provided `run.sh`

[2018-04-18 01:38] gabalawi opened #183 "tools/openambit2gpx.py and python v3.6.1"
With python 3.6.1 I get an error "TypeError" in calls fOut.write(...etree.toString(trk)...) and fOut.write(... etree.toString(lap) ...), see below.
Putting "etree.toString(trk, encoding='unicode')", "etree.toString(lap, encoding='unicode')" solved this for me.

`[heinz@imru tools]$ ./openambit2gpx.py ~/.openambit/log_F88309511D000E00_2018_02_24_19_15_34.log ./test.gpx
Traceback (most recent call l

[2018-04-22 13:08] benedetto commented on #183
I had the same problem and tried the same fix. Unfortunately this fix prevents running the script on python2...

[2018-05-01 12:13] Fruchtenstein opened #184 "v0.3 cannot sync with Movescount"
Openambit v0.3 (installed from Ubuntu 17.10 repositories) sometimes refuses to sync a new run with the following message:
"LocalTime values must be in ascending order (2018-05-01T13:53:06.036 is before 2018-05-01T13:20:41.539)"

Neither of the two timestamps can be found in the log file.

The log was downloaded from Ambit2 R:
[log_E3C409511D001A00_2018_05_01_13_14_16-2.log.gz](https://github.com/o

[2018-05-16 20:43] gin123 opened #186 "How to install Openambit in Ubuntu 18.04 from source"
## 1.	Before installation upgrade the system

sudo apt-get update
sudo apt-get upgrade

## 2.	Tools needed for the installation and their dependencies

sudo apt-get install build-essential
sudo apt-get install cmake
sudo apt-get install git

## 3.	Other packages needed for compilation and their dependencies

sudo apt-get install libudev-dev libqjson-dev libgusb-dev
sudo apt-get install qtbase5-dev

[2018-05-23 14:44] gin123 commented on #151
ambit3 peak is now supported in Openambit 0.4

The compilation details and sync you may look at

https://github.com/openambitproject/openambit/issues/186

[2018-06-01 19:18] vbelloir commented on #181
Hi all,
I'm quite new to openambit.
I'm trying to use openambit2gpx to export gpx files, but I can't find where openambit generates log files.

Where are theses files?

I'm using openambit 0.3 from ubuntu 18.04 repo.

Vincent

[2018-06-02 02:39] paddy-hack commented on #181
They are in `~/.openambit/`, as documented at the top of `tools/openambit2gpx.py`.

[2018-06-02 06:54] vbelloir commented on #181
Yes, this is what I saw yesterday. Seing to the directory didn't exist, I create it, but with a typo :(

Now that's ok, thanks for help.

[2018-06-09 14:08] gustavo-iniguez-goya opened #187 "BikePower data not uploaded to movescount"
Hi all,

Bike power data from powermeters is not uploaded to movescount. Sample move:

[log_75A509510F002000_2018_06_07_19_03_15.log.zip](https://github.com/openambitproject/openambit/files/2087012/log_75A509510F002000_2018_06_07_19_03_15.log.zip)
http://www.movescount.com/moves/move222681066

Tested with version 0.3-1+b1 (debian) and latest sources from github.

[2018-06-10 09:49] aeszter opened #188 "Orbital data"
Hello,
one question regarding orbital data: is it possible to export this to a file in order to use it with the gps_track_pod project?

Thanks,
A.

[2018-06-10 15:46] gustavo-iniguez-goya opened #189 "moves uploaded to movescount are synced to strava with wrong time"
For example, move started on 10.06.2018 **09:36**:
http://www.movescount.com/moves/move222902055

But in strava the time is +1 hour:
10:36 AM on Sunday, June 10, 2018
https://www.strava.com/activities/1629705645

The DateTime in the logs: <DateTime>2018-06-10T09:36:22</DateTime>

If I sync the moves using movescount app, the time appears correctly on movescount and strava.

[2018-06-10 21:22] gustavo-iniguez-goya opened #190 "Sport modes synchronizing may freeze the watch, requiring a reset"
I have configured a sport mode, which if I synchronize with latest sources (10/06/2018), after start a new move and detect gps and the pods, the watch freezes and I need to reset the watch:

[sports_mode.txt](https://github.com/openambitproject/openambit/files/2088176/sports_mode.txt)

The problematic sport mode is "Cycling", which is a custom mode I configured for my needs. If I use the movescoun

[2018-06-15 18:49] KrisBoulez commented on #118
Did someone ever start on comparing the Ambit and Spartan communication protocol ?
Had a quick look and saw already some ascii readable stuff flying by.

[2018-06-15 20:32] marguslt commented on #189
I fiddled with this at some point, a crude proof of concept hack, but it worked for me back then - https://github.com/marguslt/openambit/commit/bb494b7c708099d45b0d02b0dafb548b7d4de7fa

[2018-06-25 11:50] harryklein opened #193 "Can't compile with cmake 3.11.3"
I try to compile openambit with cmake 3.11.3 (archlinux). I get the following compile error:

[code]

[2018-06-26 10:46] sean-chester commented on #189
With those changes I get the following error:

However, modifying commit 6e42279 with these few lines worked for me:

    QDateTime get_utc( QDateTime const local_time )
    {
        QDateTime UTCStartTime = local_time.toUTC();
        UTCStartTime.setTimeSpec(Qt::UTC);
        return UTCStartTime;
    }

    content.insert("UTCStartTime", dateTimeString( get_utc( localBaseTime )));

[2018-06-29 23:35] fatualux commented on #21
Hi all.
I have encountered this error when trying to synchronize sport modes:
#ASSERT failure in QList<T>::at: "index out of range", file /usr/include/qt4/QtCore/qlist.h, line 469
Openambit crashes when "Fetching sport modes" is displayed on the GUI.
The only way to complete the synchronization is to remove the flag on "Sync sport modes (from Movescount).
Any suggestion? Thanks

[2018-07-01 19:33] gustavo-iniguez-goya commented on #189
I confirm that it works. Thank you @marguslt !

Since we're using just the first sample, I've put the code outside of the loop, but well, the thing is that it works.

[2018-07-01 21:12] aicastell opened #195 "v0.4 cannot sync with Movescount"
I'm still unable to upload my trainings to my movescount account. When I click on "Sync now", trainings from my Sunntoo clock are downloaded to my computer, but they are not uploaded to movescount account. I also was NOT able to achieve this with v0.3, but also v0.4 don't works for me. The error message I am getting is this:

Failed to upload log (err code: 202 ), movescount.com replied with " ""D

[2018-07-02 09:10] sean-chester opened #196 "Stryd power not captured in Movescount"
The [Stryd footpod](https://www.stryd.com/) computes a value they refer to as "power" for running that easily synchronises with the Ambit3 and Spartan models. When using the _MovesLink_ app, this value is transferred to _Movescount_ and rendered as the default graph. However, _OpenAmbit_ does not transfer this data.

I suppose it is easy enough to add, but I don't know the field names for "power",

[2018-07-03 09:13] centic9 commented on #196
I think it would be good if you can provide some XML/JSON-files from the Suunto Movescount download app from activities where it was activated, so people can take a closer look how such information is included in the downloaded files.

Additionally a wireshark log would provide full details of the protocol with the Suunto server, however that is probably a bit harder to retrieve.

[2018-07-03 09:49] sean-chester commented on #196
Ah, so that's how you determine the fields to write to! :smile:

Here's a snippet from one of the xml files where power was included. Evidently, the value is written to the `BikePower` field. I'll look later into providing a wireshark log, if necessary, but perhaps it's already clear how to add this information to a run activity?

[code]

[2018-07-03 19:32] sean-chester commented on #196
It seems that the data is read correctly by _OpenAmbit_: here's a snippet from a log file in my home directory for the same sample from the same log:
[code]

But for some reason, the power data does not appear in Movescount when the data originates from _OpenAmbit_, only when it originates from _Moveslink2_.

[2018-07-03 19:43] gustavo-iniguez-goya commented on #196
It looks like it's the same problem described here: https://github.com/openambitproject/openambit/issues/187

[2018-07-03 20:22] aicastell opened #197 "Suuntoo Ambit 2S broken after using openambit v0.4"
I compiled openambit v0.4 fine, but after doing this #195 to try synchronizing my trainings with movescount (I was unable to do that), now I can't start any new training with my Suuntoo ambit 2S watch . When I enter into the menu to start a new training, I see this:

    Err: 62
    Err: 62
    Err: 62
    Err: 62
    Err: 62
    Err: 62

Whenever I click in any of those messages, I get:

    Ning

[2018-07-03 21:56] sean-chester commented on #196
Adding the following corrects the .log cadence source (showing as empty), but that doesn't ultimately address the problem. (I had speculated that the key difference between the _Moveslink_ and _OpenAmbit_ exports was the indication of a "PowerPod".)

[code]

in place of:
[code]

[2018-07-03 21:56] gustavo-iniguez-goya commented on #197
Try synchronizing the watch using Movescount app. I ran into a similar problem if not the same (#190), and I managed to fix it syncing it with Movescount app.

[2018-07-03 21:56] #196 closed

[2018-07-03 21:57] sean-chester commented on #196
Closed because duplicate of issue #187

[2018-07-03 22:01] aicastell commented on #197
The problem is I use openambit because I don't have windows at home. Do you know if movescount works under a virtualbox machine?

[2018-07-04 05:44] marguslt commented on #197
Yes, Moveslink2 works just fine in Virtualbox (handy search phrase: "modern.ie vm" ).
Actually Moveslink should work with just Wine as well, but you need some "donor" installation or have to be creative with its config files, take a look at #122.

[2018-07-04 05:53] Gerold-R commented on #197
Hi marguslt, I really prefer my own tool (in fact just a new GUI) now using the DLL which comes with Moveslink than working with the original Moveslink2 and WINE. But never used the DLL to flash the firmware.

[2018-07-04 06:59] aicastell commented on #197
@marguslt thank you very much. That will be very helpful to fix my issue and recover the watch functionality asap. I need it for my daily trainings. I will try this.

@Gerold-R, I had been using openambit v0.3 for the last three years without any issue related with this Err: 62, and after testing v0.4, this error appeared in my watch. Probably its a coincidence (I was trying to synchronize my trai

[2018-07-04 07:04] aicastell commented on #193
Try installing qtbase5-dev package. On Debian/Ubuntu based distros:

    $ sudo apt-get install qtbase5-dev

(Search for the proper way to do that on Arch Linux)

After that, repeat the compilation process.

[2018-07-04 14:41] gustavo-iniguez-goya commented on #197
Yeah @aicastell , I use it from a VM, mainly because the power meter data is not synced to the servers.

[2018-07-05 07:52] Gerold-R commented on #197
As I remember well I have read somewhere how to push a move saved by OpenAmbit to Movescount. Maybe it was even here a comment on Github.

At the time I played at lot with my Ambit 2S, I have written a function to save the complete raw logbook data to file (2.750.000 Bytes from address $0F4240). When I delete the sync flag of a move, I do write only one byte back and it works, so writing the compl

[2018-07-20 09:30] gustavo-iniguez-goya opened #198 "power meter pod not recognized as cadence pod"
openambit does not recognize the Stages power pod as cadence pod:

movescount app log:
[code]
openambit log:
[code]

[cadencesource-type794-source32.zip](https://github.com/openambitproject/openambit/files/2213299/cadencesource-type794-source32.zip)

[2018-07-20 09:59] sean-chester commented on #198
This looks the same as issue #196 ?

[2018-07-20 10:16] gustavo-iniguez-goya commented on #198
ops, I think you are right.

[2018-07-20 10:16] #198 closed

[2018-07-22 14:21] gustavo-iniguez-goya commented on #196
Hey @sean-chester ,

Despite of being (apparently) the same problem than #187 , I think that we should add a PR for add these pods.

I've just realized that my cadence pod (wahoo cadence pod) is not recognized either:
[code]

Movescount app recognized it as CadencePod. So I guess adding { 0x01, "CadencePod" }, to logstore.cpp and movescountxml.cpp would be enough.

[2018-07-26 20:40] sean-chester commented on #196
Sure, yep, I agree. I am going to spend some time in August to work on the power data problem (issue #187 ) and was going to add the power pod then, but there's no reason to wait, really.

[2018-07-29 14:09] VTiTux commented on #54
Thank you very much, Svenstorp and all contributors for your work.
Moveslink on Windows and Movescount on Android failed to synchronise my last big move. It's my personnal record of this year, so, this move is very important for me.
And OpenAmbit 4 succeeded to upload it!
Great!

Why this big release (0.4) isn't available on the OpenAmbit web page?

[2018-07-30 09:15] mbernasocchi commented on #54
@VTiTux great to hear!
I updated the downloads section on openambit.org. The main page needs to be updated by @svenstorp. I already emailed him
cheers

[2018-07-30 09:20] mbernasocchi commented on #193
@harryklein does this work now?

[2018-07-30 09:21] mbernasocchi commented on #193
closing as it seems fixed in 92c69a40be7903007d1e4e3ea542d2000a77046c
reopen if necessary

[2018-07-30 09:21] #193 closed

[2018-07-30 09:23] mbernasocchi commented on #184
please check with 0.4

[2018-07-30 09:23] #184 closed

[2018-07-30 09:29] mbernasocchi commented on #118
@KrisBoulez not really I guess.

[2018-07-30 10:06] KrisBoulez commented on #118
It is on my Summer-TODO-list.
Will see what it brings

[2018-08-07 16:36] gustavo-iniguez-goya opened #199 "List of sport modes outdated"
Hi,

The list of sport modes is outdated. For example _Obstacle racing_ corresponds to 0x3a, and it is defined as UNDEFINED 59:
https://github.com/openambitproject/openambit/blob/master/src/movescount/movescountxml.cpp#L114

While _Indoor Training_ is 0x5f, and _Track and field_ has changed from 80 (0x50) to 81 (0x51).

I've updated the list in this branch:
https://github.com/gustavo-iniguez-goya/

[2018-08-10 18:15] gustavo-iniguez-goya commented on #187
Ok, I've just seen why power data is not uploaded to movescount. The json field is called _Power_ instead of _BikePower_ . In the rest of the app(s), xml(s), etc, is stored as _BikePower_.

[2018-08-10 18:17] sean-chester commented on #187
Wow, fantastic that it could be so simple! I'll test late tonight and again tomorrow to confirm.

[2018-08-10 19:00] Gerold-R commented on #187
@gustavo-iniguez-goya

Isn't that what is indicated in the file "SettingsAdapter.xml"?
...
<tree name="Sample">
..
<node key="BikePower" target="Power" type="uint16" min="0" max="2000" unit="watt"/>
...

Or what is that file good for?

[2018-08-10 19:04] Gerold-R commented on #187
@gustavo-iniguez-goya

Isn't that what is indicated in the file "SettingsAdapter.xml"?
node key="BikePower" target="Power" type="uint16" min="0" max="2000" unit="watt"Or what is that file good for?

Looks like it's not possible to post xml code here.

[2018-08-10 19:39] gustavo-iniguez-goya commented on #187
Probably you are right @Gerold-R, could you elaborate a bit more, please?

[2018-08-10 20:46] Gerold-R commented on #187
The file comes with moveslink2
If you dont have it, download the zipped Moveslink2 files from here (official Suunto link)
https://movescount-moveslink.s3.amazonaws.com/Moveslink2.zip
No installation needed

[2018-08-10 21:13] gustavo-iniguez-goya commented on #187
Ok, I had totally missed that file in the desktop app. So I guess you mean that target="" is the name of the json fields when uploading the move to the servers. I didn't know that, so thank you :)

By the way, there're several other fields for a Sample that do not appear there, like _BikeCadence_ or_RuleOutputs_, do you know by any chance what they are for? or what's the difference between Cadence

[2018-08-10 21:37] Gerold-R commented on #187
You are right. I GUESS. I am not sure.

No, sorry.

[2018-08-11 19:26] pkel commented on #181
I just ran `tools/openambit2gpx.py` on my log files. It failed on two of them. I provide them for debugging.

[one.log](https://github.com/openambitproject/openambit/files/2280479/one.log)
[code]

[two.log](https://github.com/openambitproject/openambit/files/2280480/two.log)

[code]

These come from an Ambit 3 Vertical with FW version 1.1.22.

[2018-08-13 02:57] gerry1138 opened #201 "OpenAmbit returns Invalid CompressedSampleSets error"
OpenAmbit returns the following message on Ubuntu 18.04 running OpenAmbit 0.3.
I did not notice this message in Ubuntu 16.04 and I am not sure if it happened as a result of an 18.04 upgrade or not.  The message is below.  Movescount will show the correct distances but the map only shows a portion of the route.

`     gerry@gerrypc:~$ openambit
    Failed to upload log, movescount.com replied with

[2018-08-16 18:45] gustavo-iniguez-goya commented on #201
Hi @gerry1138 , could you please upload the logs? ~/.openambit/log_*2018_03_09*

[2018-08-17 01:12] gerry1138 commented on #201
Here is the log file...
[log_2CB2095124001300_2018_03_09_10_34_03.log](https://github.com/openambitproject/openambit/files/2295668/log_2CB2095124001300_2018_03_09_10_34_03.log)

[2018-08-18 11:43] gustavo-iniguez-goya commented on #201
As far as I can tell, at least with latest version, all the LocalTime fields are correct/in ascending order, however the _2018-03-09T10:57:09.952_ and _2018-03-09T10:34:03.000_ timestamps seems to be missing in the log.
[uncompressed_samples.txt](https://github.com/openambitproject/openambit/files/2299431/uncompressed_samples.txt)

No idea why it's failing, sorry for not being of much help :(

By

[2018-08-27 12:12] Gerold-R commented on #118
Does anyone has a PCAP file from a sync with a Spartan for me? I would like to compare the protocol. Thanks in advance

[2018-08-27 20:14] KrisBoulez commented on #118
I have some pcap's lying around.
Will dig them up and post later this week

Kris

[2018-08-28 19:31] benedetto commented on #190
Same over here. A solution would be highly appreciated.

[2018-09-19 21:25] btqy opened #202 "Flatpak or Snap Package ?"
Hello,
Due to library problems (Qjson and Udev), Openambit seems to be very difficult to compile in Solus distribution. Perhaps it is the case for others distrib when the binaries don't exist.
It will be great if you can propose Flappak or Snap Package, it will solve all the problems.
Do you think you can do it?
I really like Openambit but since I leaved Ubuntu/Mint to Solus, I'm very frustrated n

[2018-09-27 17:03] mortenko opened #203 "Qt components installation"
Hi Guys,
I'm trying to install openambit for my suntoo ambit3 peak nepal edition on linux fedora workstation.

Actually Im installing qt using qt installer.There is a installation step "select components". Do I need all of them ? It takes over 7GB.
![qt_components](https://user-images.githubusercontent.com/9746228/46162211-e7cac800-c287-11e8-92f1-44a4601492a4.png)

thanks for answer

[2018-10-07 14:28] markusdecker commented on #186
hi,
this works very well, thank you. i followed all the steps and it worked out on debian 9.
ciao
m

[2018-10-08 13:40] markusdecker commented on #181
hi
i modified the script to read the ibi records and convert it to hr, if someone is interessted i ll c&p,

m

[2018-11-07 19:42] alkino commented on #73
Up?

[2018-11-08 10:13] alkino commented on #203
Hi, I'm on Fedora too.

Simply `sudo dnf install qt5`.

[2018-11-08 10:16] alkino commented on #199
Hi,
Could you rebase and make a PR?

[2018-11-08 11:01] alkino commented on #188
Hi,
If you know a bit of programming you can use libmovescount to get orbital data `getOrbitalData` and output it on a file.
Are you able to do it?

[2018-11-13 13:10] gustavo-iniguez-goya commented on #199
ok @alkino , I´ll do it in the coming days.

[2018-11-15 09:08] aeszter commented on #188
Hi alkino,
thanks a lot for your hint. I'll look into it as soon as I have the time.

A.

[2018-11-15 18:42] bowlofeggs opened #205 "How do I authenticate with movescount?"
I see that I can put my e-mail address in the settings, but the UI just has a link to "Auth on movescount.com" that seems to just take me to movescount.com. What do I do from there? I tried logging in, but I don't see anywhere in there to authorize the app.

[2018-12-02 08:46] jakubciepiela commented on #205
It used to work but now I cannot authenticate.
Looks like a recent change on the movescount.com website.
I tried it on version 0.3 and 0.4

[2018-12-03 17:08] markusdecker opened #206 "Suunto Ambit 3 Peak Data"
hi.

recently the suunto ambit logs, received with openambit0.4 do not include the UTC time in the Samples anymore.

before:

            <Sample>
                <Type id="512">periodic</Type>
                <UTC>2018-11-29T18:48:46.857Z</UTC>
                <Time>33857</Time>
                <VerticalSpeed>0</VerticalSpeed>
                <Cadence>0</Cadence>
                <Temperature>202<

[2018-12-06 04:05] hdoupe commented on #28
I think I've run into the same issue with lap swimming. Is there anything that I can do to help out? I'm happy to share some swim data saved using the MacOS moveslink app.

[2018-12-08 09:52] vascotenner commented on #186
openambit ships some scripts to make building and installing much easier. Shorter version:

# Installation

## Ubuntu

### Install dependecies

    $ sudo apt-get install build-essential cmake git libudev-dev libqjson-dev libgusb-dev qtbase5-dev qtbase5-dev-tools qtbase5-private-dev qttools5-dev qttools5-dev-tools qttools5-private-dev qtchooser qt5-qmake

### Get Openambit source code to some fold

[2018-12-08 10:43] vascotenner commented on #181
@markusdecker: I am interested in you script. Can you C&P it here or add it to a gist or even create a pull request?

[2018-12-08 10:55] vascotenner commented on #205
This is a duplicate from #195.

[2018-12-08 13:39] gin123 commented on #186
Thank you, I add p. 9.

[2018-12-10 11:30] gustavo-iniguez-goya commented on #199
finally done @alkino

[2018-12-10 16:08] markusdecker commented on #181
@vascotenner ,

i wrote this function:

[code]

and replaced the hr line with this:

`hr=ibiToHr()`

however, the heartrate data are good shaped and correct. i compared it to suuntos gpx exports,
but theres a tiny shift on the timeaxis, caused by the first gps data samples in the log_file
until the first ibi data are recorded. right now, i dont have a solution fir this.

ciao m

[2018-12-10 16:16] markusdecker commented on #206
hi

i wrote a small function for this specific problem and added it to the python script, just in case anyone experience the same bad thing:

[code]

the function calculates the time out of the delta time from the start in ms. works correct, i compared it to the gpx export from suunto.

ciao
m

[2018-12-14 00:21] gustavo-iniguez-goya commented on #206
um, interesting, I noticed this problem as well, but as the moves were uploaded fine, I forgot it.
However analyzing the issue, I've realized that the UTC time returned is year + 1 and the month starts at 0. QDateTime doesn't seem to like this format, so it returns an empty string.

Taking a look at the moves recorded in January 2018, the UTC date is for example: 2018-02-03T18:10:03.558Z

So I thi

[2018-12-14 19:33] gustavo-iniguez-goya commented on #206
well, I've uploaded a new move with this workaround applied, and I don't notice any difference. The same for the strava activity.

[2018-12-18 19:05] markusdecker commented on #206
hi gustavo

yes, the output looks like this
[code]
i hope this is helpfull.

thanks
ciao
m

[2018-12-19 10:40] gustavo-iniguez-goya commented on #206
Thank you Markus, that's what I expected to see. The workaround should fix it then, apply the fix and add the following lines below
https://github.com/openambitproject/openambit/blob/master/src/libambit/pmem20.c#L1166:

[code]

lets see what's going on there.

[2018-12-19 14:15] markusdecker commented on #206
hi gustavo,
you are right, it works!
i guess i made a mistake while compiling the first version of libambit (prob used the old libambit instead?).
super. thanks.

ciao.
m

[2018-12-20 10:17] gustavo-iniguez-goya commented on #206
great! anyway I'll try to find a better solution, because this workaround is a bit of a hack, I think.

[2018-12-20 13:14] markusdecker commented on #206
well, its a far better solution than the python workarround.
the next thing to solve is the interbeat interval, ....

[2018-12-20 16:41] gustavo-iniguez-goya commented on #206
interbeat interval? open a new issue explaining it please, so we can take a look.

[2018-12-20 22:59] rnorris commented on #206
I too was having this problem with a Suuntu Ambit 3 Multisport.

It appears to me that the time functions in pmem.c are somewhat broken and starts to go awry from December 2018 onwards.

This appears to be the proper fix:

[code]

If I get time I'll create a proper pull request and explain the previous wrongness.

[2018-12-29 17:36] vascotenner commented on #181
I have implemented a slighty difference version in PR #211 (https://github.com/openambitproject/openambit/pull/211/commits/2ce29d8117c530d7c93553350a205d9b0afa9cc0)

@markusdecker : I had some problems getting your code working, and I have questions about it. What is the function of these lines: https://github.com/openambitproject/openambit/pull/211/commits/2ce29d8117c530d7c93553350a205d9b0afa9cc0

[2018-12-30 13:53] markusdecker commented on #181
hi vasco
this lines are a filter:
# filter 1: average hr data, flatten data
filter out heartrate peak to smoothen the graphical curves when viewed in a gpx program.
you can simply ignore that lines.

i ll test all you code soon. super.

ciao
m

[2018-12-30 13:59] markusdecker commented on #206
@gustavo-iniguez-goya, interbeat interval is the method of the heartbeat measurement, in the suunto ambit peak 3 watch. @vascotenner did a edit of the pyhton script therefore, i dont know if this is an c-code issue?
if still needed i can open a new issue and descibe it?
what you think @vascotenner?

[2018-12-30 19:37] vascotenner commented on #206
I think that the log files should be as close to the data exported by the watch. The python script to convert to GPX can decide how to convert the data, and what data to discard!

[2018-12-30 20:11] vascotenner commented on #181
In this post I try to understand from which moment the IBI data is originating, and how to convert it to a gpx file.

Sample data:
[code]

Observations:
* There are always 32 IBI nodes
* The number in the Time tag is not the sum of all IBI tags

For me it is not clear from which moment the IBI data originates. There is no timestamp associated to each IBI innode. However, I could imagine that this

[2018-12-31 12:59] marguslt commented on #181
I currently don't have access to any openambit instance nor log files, but maybe this helps -
* 32 nodes of IBI data seems to reflect storage in a watch; I can't see any other meaningful context;
* For Movescount service there is no relation between individual IBI values and timestamp of a samples, all IBI values are gathered and stored in a single list which is then sent to Movescount.
* Sum of *

[2019-01-07 17:42] vascotenner opened #213 "Delete logs from watch"
Can openambit/libopenambit be used to delete moves/log from the watch? How?

[2019-01-08 09:39] Gerold-R commented on #213
As far as I know this is not possible.

You can use the function "Force Firmware Update" from Moveslink to delete the complete logbook. After the update, the header of the ringbuffer for the exercise log is reset to it's default values. It's possible to write a small tool that can delete the complete logook by overwritting these 18 header bytes with it's default values. For the Ambit 2 series the

[2019-01-08 11:32] vascotenner commented on #213
For me, the reason to use openambit is two-fold:
1. Runs on linux
2. Synchronization of the watch without uploading the logs to suuntos webserver

@Gerold-R : Do you have sample code how to do this?

[2019-01-08 11:44] markusdecker commented on #213
hi vasco

you are able to sync the sportmodes with your watch?

m

--
firstfloor.org/ae

[2019-01-08 12:43] Gerold-R commented on #213
Yes of course, I do have code but it's written in Delphi 7. Do you have an Ambit 2S or another model?

Where do you upload your moves if you dont use Suunto's WebServer?

BTW:
I also using Linux (Mint) and I am a CrossOver Advocate for Moveslink
https://www.codeweavers.com/compatibility/crossover/moveslink

Mainly I am using programs which runs on Linux, only for a new windows programs (and my own

[2019-01-08 15:50] markusdecker commented on #213
hi

i am useing debian. and i have the ambit peak 3. i didnt figure out how to program the watch
on linux. if theres a way it would be much appreciated, but as far as i understand ambit 3 is not supported.

ciao
m

[2019-01-09 01:14] rnorris commented on #213
My Ambit 3 Multisport works with Debian using the latest source code.

I haven't knowingly used movescount.com (unless maybe it's used for 'Orbit Data' whatever that is)

[2019-01-11 18:41] markusdecker commented on #213
hi rnorris.
interessting, and you are able to sync your sportmodes? did i understand this right?
how you do this?
m

[2019-01-14 21:44] rnorris commented on #213
I just use openambit to download the logs to my computer (which I then convert to GPX).

[2019-01-15 12:17] marguslt opened #216 "Suunto transition to new service platform, planned End-Of-Life for Movescount set to 2020"
Current info on Movescount Services to Suunto Services transition -  https://www.suunto.com/transition

Right now Ambit3 & Traverse can transfer logs through new Suunto mobile app to Suunto Services and also receive SGEE updates and at least some features might follow.
But it seems there's not much planned for older non-BT models.

So if some work has been done or planned on offline sports mode cu

[2019-01-15 14:55] Gerold-R commented on #216
I still use an Ambit 2S and I am interested in offline sports mode customization. Is the data structure fully known? I stopped my own analysis a long time ago but during my tests it turned out, that it is possible to create displays showing fields which are not allowed on an Ambit 2S.

![ambit2s temp and baro](https://user-images.githubusercontent.com/16975317/51185681-1a044200-18d8-11e9-9d2b-8e80

[2019-01-16 09:30] JothanChanes commented on #216
Hi,
I also have an Ambit 2, and I love this watch. The quality of the watch was why I chose it over the Garmin Fenix, which was unstable at that time (hardware and software). It'd be a shame if the software is now limiting the use of this great piece of hardware.

How is the state of development of openambit, any current plans? I think a group of users should approach Suunto and push them so that

[2019-01-19 15:05] schalekamp commented on #216
With the current OpenAmbit gui you can at least download your sports activities to XML logfiles.
You can then convert them to GPX with the python script and upload to your favorite service (mine is Strava). One way to go would be to replace the upload to movescount with an automated upload to Strava. Another option would be to make libambit available to python using swig or boost.

So at least my

[2019-01-20 09:32] myadzel commented on #216
Basic support for alternative app (desktop application only, without web service):

1) download GPX (SML) files;

2) download and upload POI and routes (GPX);

3) creating screens, screen settings and types of activities (XML);

4) update satellite data.

[2019-01-25 06:59] JothanChanes commented on #216
Hi,

that's some great effort thanks. Currently, I don't know which platform I'd
actually use to log all moves. The bigger issue, IMO, is the possibility to
upload routes/POIs, which is kind of essential to me. Another thing, though
possibly not that important is to enable/disable or even create/edit sports
modes.

It'd be a dream if we could convince Suunto to open-source their protocol
specifica

[2019-02-09 18:24] pcl opened #220 "Building on macOS"
Hi,

Given the Movescount EOL announcement, I'm interested in getting openambit compiling and running on my Mac. I've taken a quick look at building from source, and ran into the problems outlined in #111. I then moved on to trying to get the Docker-based build instructions working.

I've gotten further, but haven't been successful yet. I've edited the `Dockerfile` to run `apt-get install qttools5

[2019-02-10 10:52] paddy-hack commented on #220
Once #221 gets merged, the Docker builds should succeed without trouble (as long as you don't try to build the `wireshark` dissector).

[2019-02-11 05:24] Galaua commented on #186
My watch is Suunto ambit2s and Ubuntu 18.01 1. How to install the support this one? I am new in Ubuntu. Thank you

[2019-02-11 17:15] gin123 commented on #186
Your watch is supported.
Please open terminal and copy the commands from my article.
Or you may try from **vascotenner** comment.

[2019-02-17 20:15] vbelloir commented on #186
I was using openambit 0.3 from ubuntu package, but I want to tru 0.4 release.
I removed (and purged) installed openambit.
I cloned the repo and follow the wiki.
Build and install is done by ```sh install.sh```

If I simply try to execute openambit, I get an error with the libmovescount.so file :

/usr/local/bin/openambit: error while loading shared libraries: libmovescount.so.0: cannot open shared

[2019-02-17 21:03] vbelloir commented on #186
OK, I followed the Pull request #223 and it works for me.
Thanks @vascotenner

[2019-03-08 18:06] lukasc-ubc opened #224 "Suunto 9 (baro)"
Is there a possibility of downloading from a Suunto 9 watch?  There are likely some differences between the Ambit 3 and Suunto 9 watches, as Suunto has different download software (Suuntolink for Suunto 9, versus Moveslink2 for Ambit watches).

thank you

[2019-03-20 08:42] sylvainbx opened #225 "OpenAmbit auto start"
OpenAmbit launches automatically at system startup.
I'm using kde/plasma-5 so I was expecting this is due to a .desktop file in ~/.config/autostart but there's nothing there ... how to disable this behavior?

[2019-03-20 09:38] paddy-hack commented on #225
Maybe a distribution dependent issue, if you're using a pre-packaged binary.  Please provide distribution info and what OpenAmbit version you are using (pre-packaged, compiled from source, etc).

That said, there's also `/etc/xdg/autostart/` and perhaps similar.  Look at the system-wide locations where this might be auto-started.

[2019-03-20 10:34] sylvainbx commented on #225
Thanks for your reply.
Here's the info about my distribution and my openambit installation :
[code]
Sadly, I found nothing about openambit in `/etc/xdg/autostart/` neither in other autostart folder.

[2019-03-20 11:56] paddy-hack commented on #225
Hmm, KDE neon, an Ubuntu derivative, with Openambit from someone's PPA.  Suggest you ask there first.

That said, if OpenAmbit launches automatically at system start up, that might be "courtesy" of `systemd` (of which I am no fan).  If it only launches automatically when you connect your Ambit, it's probably something triggered by `udev` (appropriated by `systemd` nowadays).

AFAIK, there is nothi

[2019-03-20 13:19] centic9 commented on #225
I'm providing that PPA, no change related to autostarting there, it just follows newer Git than the released versions.

[2019-03-20 15:15] sylvainbx commented on #225
Well this is a mistery... `systemctl list-units` reports nothing related to openambit and it didn't lauches when I plug the watch but at desktop startup.
I thought it was an expected behavior but I'll investigate on this when I'll have free time and keep you updated.

[2019-03-21 13:23] marguslt commented on #225
@sylvainbx , what's your login setting for desktop session?
https://userbase.kde.org/System_Settings/Startup_and_Shutdown#Session_Management

And do you actually exit from Openambit or you just close the window so it keeps running in background / system tray? It's probably just the last session that gets restored, but if there's something broken with sessions and you want to manually fix or clear

[2019-03-26 09:17] sylvainbx commented on #225
@marguslt I think you've found the point, thank you!
I didn't exited OpenAmbit correctly, I was just closing the window so the kde session restauration process was opening it again on each startup.
Thanks everyone for your help.

[2019-03-26 09:17] #225 closed

[2019-04-01 01:08] leorippel opened #226 "firmware update from commandline"
Hi all,

anyone knows how to update firmware from command line? I didn't found how to do it through Openambit and my suunto ambit 2 is stucked at "Connect to moveslink" screen.

Cheers!

[2019-04-01 15:19] centic9 commented on #226
I would try the factory reset on the watch, i.e. press all 5 buttons for more than 10 seconds.

[2019-04-05 14:14] vdca commented on #165
Route sync (download from web into watch) is not working for me either (Ambit3 on Ubuntu 18.04, Openambit 0.4). Can anyone confirm it is working for them?

[2019-04-05 15:40] myadzel commented on #111
Is it possible to rewrite source code so that there is no dependency on udev?

[2019-04-05 17:57] Gerold-R commented on #226
I had the same problem some time ago and the only thing what helped was to open the watch and to disconnect the batterie during 2-3 days. After that I was able to use the watch as normal.

As far as I know, OpenAmbit can not make a firmware update. But I am not sure, cause I dont use it. I prefer to sync the watch using Wine 3.0.3 or CrossOver 17.5.1

[2019-05-13 20:54] JordiPujol commented on #117
hi nice people over there.
till now my suunto ambit 2 R works fine but today i get this error message

$ Failed to upload log (err code: QNetworkReply::NetworkError(ProtocolInvalidOperationError) ), movescount.com replied with " "\"Invalid CompressedTrackPoints: Invalid Altitude: valid range is [-1000, 15000] m\"" "
Failed to upload log, movescount.com replied with " "" "
Failed to upload log, mov

[2019-06-12 18:06] gin123 commented on #195
For my watch "ambit3 peak" only this sync works:
* Sync time from computer
* Sync orbital data (from movescount)

If I mark
*Sync sport modes
* Sync navigation
sync not work.

[2019-07-09 19:41] YannChemin opened #229 "please add qttools5-dev to the build requirements on Ubuntu Eoan Ermine"
**_sudo apt-get install qttools5-dev_** will take care of this error:

CMake Error at CMakeLists.txt:12 (find_package):
  By not providing "FindQt5LinguistTools.cmake" in CMAKE_MODULE_PATH this
  project has asked CMake to find a package configuration file provided by
  "Qt5LinguistTools", but CMake did not find one.

  Could not find a package configuration file provided by "Qt5LinguistTools"
  w

[2019-07-09 19:54] YannChemin opened #230 "Error when using openambit2gpx.py script"
python openambit2gpx.py log_xxxxxxx_2018_04_19_16_18_06.log log_xxxxxxx_2018_04_19_16_18_06.gpx
Traceback (most recent call last):
  File "openambit2gpx.py", line 266, in <module>
    fOut.write("  "+etree.tostring(lap)+"\n")
TypeError: can only concatenate str (not "bytes") to str

same at line 158 with "trk"

[2019-07-21 23:21] hdoupe commented on #230
I ran into this problem, too.

[2019-07-22 16:43] panumaijala commented on #186
Hi, how about Spartan?
I added rows to both libambit.rules & device_support.c based on dmesg output. I successfully built target openambit, install and run it. However, the device is on detected. I have never synced my Spartan to movescount, but I created an account just to test if I could do syncing using openambit. Clicking "auth on movescount.com" didn't show any "allow" buttons...
Spartan mode

[2019-07-23 05:22] Gerold-R commented on #186
@panumaijala

I dont think it's that easy. Spartan hardware is completly different and they may use another protocol to communicate with the watch.
Posting a USB capture file would help.
Gerold

[2019-07-23 07:53] panumaijala commented on #186
Hi Gerold and thanks for your quick response!
I was told that Spartan models are successors of Ambit models and the same Ambit (Android) software can be used with Spartan. This might be false information, but was the reason why I tested Openambit. Anyway, please find attached a Wireshark dump from plugging in my Spartan watch.
From lsusb -vv
  idVendor           0x1493 Suunto
  idProduct

[2019-07-23 09:41] Gerold-R commented on #186
Does not look like a capture you made using SuuntoLink.

[2019-07-23 14:59] panumaijala commented on #186
Sorry, it's just the handshaking with a linux computer when inserted... I wasn't able to install SuuntoLink using wine and it might be hard to find a computer with windows OS.. I can try to install it to a virtual machine and capture the traffic from linux host.

[2019-07-23 15:41] vascotenner commented on #186
@panumaijala : Can you open a new issue for this support for spartan devices?

Microsoft supplies a virtual manchine image for development purposes:
https://developer.microsoft.com/en-us/windows/downloads/virtual-machines

[2019-07-24 15:30] panumaijala commented on #186
@vascotenner : Thanks for the tip - I downloaded an image and succeeded in installing SuuntoLink. I'll open a new issue and attach the captured USB traffic there.
panu

[2019-07-24 16:15] panumaijala opened #232 "Support for Suunto Spartan models"
@vascotenner: You asked if I could open a new issue for Spartan models. Here it is.
Please find some USB capture files for Wireshark. There is a README file included.
BR, panu

[SuuntoSpartanSuuntoLinkCaptures.zip](https://github.com/openambitproject/openambit/files/3427770/SuuntoSpartanSuuntoLinkCaptures.zip)

[2019-07-26 12:51] Gerold-R commented on #232
Hi Panu,

I just had a quit look into your capture files but it seems that that the protocol is completly different. I don't have a Spartan and I even don't know if they are still USB HID devices or a driver is needed.

All I know for now is, that SuuntoLink seems to be build with node.js and electron, the communication goes through tcp websocket.

With the "Browser WebSocket Client" addon for Fir

[2019-07-26 15:56] Gerold-R commented on #232
"SDSApplicationServer. exe" is running using Wine 4.12.1 (Mint 19.1) and I am able to request data from my Ambit 2S. On the other hand, "SuuntoLink.exe" is not starting. Probably the same problem as with Moveslink: they use the Internet Explorer ActiveX.

[2019-07-29 09:54] panumaijala commented on #232
Hi Gerold, my trials to run SDSApplicationServer.exe ended due to too many missing libraries (14 .dll files). I just wonder, if it was worth of trying to implement a method to automatically download the watch data in Linux using this SDS executable through a websocket client, e.g. https://pypi.org/project/websocket_client/ ? I don't have too much experience, written only small Python apps earlier.

[2019-07-29 12:59] Gerold-R commented on #232
Hi Panu,

why do you have missing DLL's? I never installed SuuntoLink, just downloaded the SuuntoLink installer from here:
https://www.suunto.com/en-gb/Support/software-support/suuntolink/
and extracted the EXE with 7-Zip.
Than you will have an "nupkg" file. Extract this file and in the subfolder
...Suuntolink_installer\Suuntolink-2.24.3-full\lib\net45\resources\app
you have the file "SDSApplicati

[2019-07-29 14:38] panumaijala commented on #232
Hi Gerold!
No more missing dlls after installing .NET 4.5 to wine! Now I can start the SDSApplicationServer.exe under wine 3.0 (contains hid support) and connect to it using the Browser WebSocket Client - but, apparently, it cannot find the watch. Because SDSApplicationsServer tries to find it first as a UsbHidHost(), then using the addresses listed in Devices.xml, I've also tried:
`sudo chmod 666

[2019-07-30 07:30] Gerold-R commented on #232
Hi Panu,

realy strange that you needed to install .NET 4.5 as for me it seems that all the .NET 4.5 DLL's are in the nupkg file and that even more than ones! Do you know the names of the missing DLL files?

Dont know anymore with WINE 3.0. They added HID Support first in WINE 2.x (dont remember the exact version number anymore) and it worked perfectly. Than they changed something and it did not w

[2019-07-30 07:44] vascotenner commented on #232
If you want to install older versions of wine, play on linux has all machinery in place to install different versions of wine for different applications: https://www.playonlinux.com/en/

[2019-07-30 14:24] panumaijala commented on #232
Gerold,
before installing .NET 4.5, SDS server was complaining about following 14 missing DLLs:

MSVCP140.dll
VCRUNTIME140.dll
api-ms-win-crt-runtime-l1-1-0.dll
api-ms-win-crt-heap-l1-1-0.dll
api-ms-win-crt-convert-l1-1-0.dll
api-ms-win-crt-string-l1-1-0.dll
api-ms-win-crt-stdio-l1-1-0.dll
api-ms-win-crt-time-l1-1-0.dll
api-ms-win-crt-filesystem-l1-1-0.dll
api-ms-win-crt-math-l1-1-0.dll
api-ms-win

[2019-07-30 16:56] Gerold-R commented on #232
@panumaijala
All these DLL's are inside the file Suunto_Installer.exe from Suunto homepage. To be more exact in the nupkg file that you get after extrating the EXE. As I said, I never installed .NET 4.5 runtime on my Linux Mint 19.1 Cinnamon 64-Bit

SuuntoLink.exe does not work correctly using Wine on Linux but it starts SDSApplicationServer.exe, just with another port 9701 as parameter and overwr

[2019-08-28 16:27] centic9 commented on #165
Please note that there is a separate setting for "Sync navigation (from Movescount)", please try to enable it and re-report if it works then for you.

[2019-09-24 07:23] myadzel opened #233 "Problem with openambit2gpx.py"
[code]

[code]

[2019-09-29 15:55] clmy commented on #186
A huge thanks ! It worked very quickly on my new linux mint !

[2019-10-15 14:49] centic9 commented on #58
The project at android-ambit was not updated for quite some time and there is now https://github.com/starryalley/AmbitSync which is based on Openambit/libambit, so I think there is not a lot of reason to work on this some more for now.

[2019-10-15 14:49] #58 closed

[2019-10-15 15:07] centic9 commented on #118
Issue #232 talks about the same thing and has some USB captures and some more information on this topic, so I am closing this one as duplicate.

[2019-10-15 15:07] #118 closed

[2019-10-15 15:13] centic9 commented on #149
Some support for Ambit3 was put in place in the meantime, I think we can close this general issue for now.

Please report new issues for anything that is still not working.

[2019-10-15 15:13] #149 closed

[2019-10-15 15:20] centic9 commented on #162
I think there is not much we can do here for now, please reopen or create new issues if you get more information about the accelerometer data.

[2019-10-15 15:34] centic9 commented on #166
There was some more work in the meantime which should support Ambit 3, please reopen or create a new issue if you still have problems syncing.

[2019-10-15 15:34] #166 closed

[2019-10-15 15:38] centic9 commented on #177
The PR was closed without fixing, it seems this error indicates a rather outdated version of the compiler is used, so if this is still an issue for you please try to upgrade to a newer compiler and reopen with more information about the used version of gcc if it still does not work then.

[2019-10-15 15:38] #177 closed

[2019-10-15 15:44] centic9 commented on #182
It is good to know, but I am closing this here as it is not a problem in Openambit per se, but something that Github needs to solve.

[2019-10-15 15:44] #182 closed

[2019-10-15 15:49] centic9 commented on #188
Question was answered so I think we can close this issue for now.

[2019-10-15 15:49] #188 closed

[2019-10-15 15:53] centic9 commented on #190
I am hit by that as well and would like to give fixing this a try, any additional information you can provide would help, e.g. which settings for "Cycling" are actually different than in the other modes?

[2019-10-15 16:26] centic9 commented on #203
I think the question was basically answered and there is not much that can be done here, so I am closing this for now.

[2019-10-15 16:26] #203 closed

[2019-10-15 16:33] centic9 commented on #224
If you are still interested, the usual approach is to get some USB logs captured, see https://github.com/openambitproject/openambit/issues/54#issuecomment-296797463 for how to do that, then someone with re-engineering experience can take a look and at least state if it is feasible to support it or not.

[2019-10-15 16:40] #229 closed

[2019-10-15 16:43] centic9 commented on #233
Can you upload a sample log which causes this problem?

[2019-10-15 19:06] gustavo-iniguez-goya commented on #190
Hey @centic9 , glad to hear that! This is how I've got it configured:
![movescount-cycling](https://user-images.githubusercontent.com/2742953/66861383-392b1f80-ef8f-11e9-85b8-a9d36e5bad05.jpg)

PODs to search:
[x] HR belt
[  ] Foot POD
[  ] Bike POD
[x] Cadence POD
[x] Power POD

Advanced settings:
(*) Autopause ON

The rest options are as default.

[2019-10-16 13:34] centic9 commented on #233
When taking another look I saw that you try to convert an "sml" file, which is what Suunto uses. But the openambit2gpx-tool is geared towards converting the Openambit XML format to GPX, the structure of this is different, there is no plan to support the Suunto format right now because Suunto announced end-of-life for it's toolchain in early 2020.

You can take a look at https://github.com/montant/

[2019-10-16 13:34] #233 closed

[2019-10-16 13:36] centic9 commented on #230
This seems to be the same issue as #183, therefore closing this one here as duplicate.

[2019-10-16 13:36] #230 closed

[2019-10-16 13:40] centic9 commented on #183
Fixed now in a different way which still allows to run with Python 2.x via PR #209

[2019-10-16 13:40] #183 closed

[2019-10-16 22:22] gustavo-iniguez-goya commented on #190
The main difference is the use of PODs. But they're just boolean values in the json downloaded from the server:

When I was debugging this problem, I thought that maybe it was being written ouf of bounds somewhere, due to the extra screens and options per screen. But no idea really.